/* STYLING ELEMENTS AND CLASSES */
.row {
  width: 100vw;
  padding: 1rem;
  margin: 0 auto;
}

section {
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  h2 {
    margin: 2vh auto;
  }
}
.container {
  width: 100vw;
  max-width: 1200px;
  padding: 1rem 2.4rem;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding: 1rem;
  }
}
.container-responsive {
  width: 75%;
  padding: 0 1rem;
  margin: 0 auto;
  @media (max-width: 600px) {
    width: 90%;
  }
  @media (max-width: 768px) {
    width: 85%;
  }
  @media (789px < width < 998px) {
    width: 80%;
  }
}
.container-fluid {
  width: 100vw;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.container-flex {
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
  .item {
    width: 30%;
    height: 100%;
    padding: 2rem;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
}
/* CARD STYLING */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  color: var(--text-light);
  @media (max-width: 783px) {
    flex-direction: column;
  }

  .card {
    width: 30%;
    height: 70vh;
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--background);
    border: 2px solid #232222;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0 rgba(28, 28, 28, 0.834);
    overflow: hidden;
    @media screen and (max-width: 783px) {
      width: 90%;
      padding: 1.5rem 1rem;
    }
  }
}
.transparent-bg {
  background: rgba(1, 3, 43, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(1, 3, 43, 0.01);
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.row > * {
  width: 100%;
}
.col {
  width: 100%;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media screen and (min-width: 786px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 998px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
