/* STYLING ELEMENTS AND CLASSES */
.row {
  width: 100vw;
  padding: 1rem;
  margin: 0 auto;
}

section {
  width: 100%;
  padding: 0;
  margin: 1rem auto;
  h2 {
    padding: 2rem;
    margin: 3rem auto;
    text-shadow: var(--text-shadow);
  }
  @media (max-width: 600px) {
    width: 90%;
  }
}


.container-responsive {
  width: 75%;
  padding: 1rem;
  margin: 1rem auto;
  @media (max-width: 600px) {
    width: 90%;
  }
  @media (max-width: 768px) {
    width: 85%;
  }
  @media (789px < width < 998px) {
    width: 80%;
  }
}
.container-responsive {
  width: 50vw;
  padding: 2rem;
  margin: 2rem auto;
  @media (max-width: 600px) {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  @media (601px < width < 786px) {
    width: 70vw;
  }
  @media (787px < width < 998px) {
    width: 60vw;
  }
}
.container-fluid {
  width: 100vw;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.container-flex {
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
  .item {
    width: 30%;
    height: 100%;
    padding: 2rem;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
}
/* GLOBAL CLASSES - klase koje će mi se ponavljati kroz sekcije stranice; kako bi stil bio ujednačen */
.container {
  width: 70%;
  margin: 1rem auto;
  padding: 3rem 2rem;
/*   background-color: var(--background-transparent);
  border: 1px solid transparent;
  border-radius: 8px; */

  @media screen and (max-width: 783px) {
    width: 85%;
    padding: 1.5rem 1rem;
  }
  @media screen and (max-width: 600px) {
    width: 100vw;
    margin:0;
    padding: 0;

  }
}
.flex-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
  background: var(--background);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  @media (max-width: 783px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
  }
  img {
    width: clamp(20%, 400px, 30vw);
    padding: 1rem;
    margin: 1rem auto;
  }
}
.small-container {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  margin: 1rem auto;
  background-color: var(--background);
  border: 5px solid #232222;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0 rgba(28, 28, 28, 0.834);
  overflow: hidden;
  @media (max-width: 783px) {
    width: 90%;
    padding: 0;
  }
}

.row-container {
  width: 100%;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* CARD STYLING */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  color: var(--text-color);
  @media (max-width: 600px) {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .card {
    width: 30%;
    height: 70vh;
    margin: 1rem auto;
    padding: 1rem;
    background: var(--bg-card);
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    @media (max-width: 600px) {
      width: 100%;
      height: auto;
    }
  }
}
.transparent-bg {
  background: var(--bg-trans);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: var(--border);
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.row > * {
  width: 100%;
}
.col {
  width: 100%;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media screen and (min-width: 786px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 998px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
