@import "variables.css";

/* CONTACT SECTIoN */
#contact {
  & form {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    @media (max-width: 783px) {
      width: 90%;
    }
    @media (max-width: 600px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    & input[type="text"],
    input[type="email"],
    input[type="textarea"],
    textarea {
      width: 75%;
      padding: 0.4rem;
      margin: 1rem 0;
      border: 1px solid var(--blue);
      border-radius: 5px;
      background-color: var(--grey-darker);
      color: var(--off-white);
      font-family: var(--monofonto);
      font-size: 1.2rem;
      &:active,
      &:focus {
        background-color: var(--grey-darkest);
        border: 3px solid var(--blue);
      }
      &:valid,
      &:user-valid {
        background-color: var(--grey-darkest);
        border: 3px solid var(--teal);
      }
      &:invalid,
      &:user-invalid {
        background-color: var(--grey);
        border: 3px solid var(--pink);
      }
      @media (max-width: 783px) {
        width: 90%;
        padding: 0.2rem;
      }
      @media (max-width: 600px) {
        width: 100%;
        padding: 0;
      }
    }

    & textarea {
      resize: none;
    }
    & button {
      font-family: var(--text-cursive);
      font-size: 1.8rem;
      font-weight: 600;
      text-rendering: geometricPrecision;
      text-shadow: 1px 0px 0px var(--grey-darkest);
      background: linear-gradient(
        45deg,
        var(--orange) 20%,
        var(--pink) 60%,
        var(--blue)
      );
      color: white;
      padding: 0.5em 1em;
      padding-left: 0.9em;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 16px;
      overflow: hidden;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        background: linear-gradient(
          45deg,
          var(--teal) 10%,
          var(--blue) 20%,
          var(--pink)
        );
      }
      & span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }
      & svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      &:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      &:active svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      &:active span {
        transform: translateX(5em);
      }
      &:active {
        transform: scale(0.95);
      }
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }

        to {
          transform: translateY(-0.1em);
        }
      }
    }
    & label {
      font-family: var(--text-body);
      font-size: 1.6rem;
      color: white;
    }
  }
}
