@font-face {
  font-family: "Dosis";
  src: url(/assets/fonts/Dosis-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Dosis";
  src: url(/assets/fonts/Dosis-Book.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Dosis";
  src: url(/assets/fonts/Dosis-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Dosis";
  src: url(/assets/fonts/Dosis-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Palamecia";
  src: url(/assets/fonts/PalameciaTitling.otf) format("opentype");
}

@font-face {
  font-family: "FiraCode";
  src: url(/assets/fonts/FiraCode-VF.ttf) format("truetype");
}
