@import url(/assets/fonts/NotoSerifDisplay-VariableFont_wdth\,wght.ttf);
@import url(/assets/fonts/Pacifico/Pacifico-Regular.ttf);
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Reem+Kufi:wght@400..700&display=swap');
/* =============== FONTS =============== */
@font-face {
  font-family: "Pacifico";
  src: url(/assets/fonts/Pacifico/Pacifico-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf)
    format("truetype");
}
@font-face {
  font-family: "Dosis";
  src: url("/assets/fonts/Dosis-Font/Dosis-ExtraLight.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-Light.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-Medium.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-SemiBold.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-Bold.ttf") format("truetype"),
    url("/assets/fonts/Dosis-Font/Dosis-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Serif";
  src: url("/assets/fonts/NotoSerifDisplay-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif";
  src: url("/assets/fonts/NotoSerifDisplay-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Encode Sans";
  src: url(/assets/fonts/Encode_Sans/EncodeSans-VariableFont_wdth\,wght.ttf)
    format("truetype");
}
:root {
  --font-family: "Noto Sans", sans-serif;
  --font-family-serif: "Noto Serif", serif;
  --font-family-display: "Pacifico", cursive;
  --font-family-monospace: "Fira Code", monospace;
  --ff-akshar: "Akshar", sans-serif;
  --ff-lexend: "Lexend", sans-serif;
  --ff-outfit: "Outfit", sans-serif;
  --ff-red-hat: "Red Hat Text", sans-serif;
  --ff-heading: "Reem Kufi", sans-serif;
}