@font-face {
  font-family: "Pharmacy";
  src: url("/marina-majden.github.io/marina-majden.github.io/assets/fonts/Pharmacy.ttf")
    format("truetype");
}
@font-face {
  font-family: "NewStandard";
  src: url("/marina-majden.github.io/marina-majden.github.io/assets/fonts/NewStandard-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Zezen";
  src: url("/marina-majden.github.io/marina-majden.github.io/assets/fonts/Zezen.ttf")
    format("truetype");
}
