.glide {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  justify-items: stretch;

  @media (max-width: 600px) {
    width: 100%;
  }
  .glide__track {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 1rem auto;
    overflow: hidden;
  }
  .glide__slides {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    .glide__slide {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      justify-items: stretch;
      white-space: normal;
      user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      background: var(--bg-trans);
      border: var(--border);
      box-shadow: var(--box-shadow);
      height: 100%;
      padding: 1.4rem;
      border-radius: 10px;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .glide__slide:hover {
      box-shadow: var(--box-shadow);
      background-color: var(--prim);
      border: var(--border);
    }
    p {
      height: 80%;
      font-family: var(--ff-accent);
      height: auto;
      font-size: 1.4rem;
      margin: 0 auto;
      text-align: justify;
      @media screen and (max-width: 767px) {
        font-size: 1.2rem;
      }
    }
    h3 {
      height: 20%;
      font-size: 1.4rem;
      font-weight: 600;
      padding: 0;
      margin: 0 auto;
      text-align: center;
    }
  }
  .glide__bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%) translateY(30px);
  }
  .glide__bullet {
    background-color: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin: 0.25em;
  }
  .glide__bullet:focus {
    outline: none;
  }
  .glide__bullet:hover,
  .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
