/* --------- box Animation ---------- */
#hero {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  color: var(--text-color);
  @media (max-width: 600px) {
    margin-top: 80vh;
  }
  h3.box-text {
    color: var(--text-color);
    font-size: clamp(1.4rem, 1rem + 1vw - 0.5vh, 3rem);
    font-weight: 500;
    padding: 0.2rem;
    line-height: 1.5;
    text-align: center;
  }
  h4.box-text {
    color: var(--text-color);
    font-weight: 500;
    padding: 1rem;
    line-height: 1.2;
    text-align: center;
  }
  i {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    line-height: 1.2;
    text-align: center;
  }

  a > i {
    color: var(--text-color);
  }
  a:hover,
  i:hover {
    color: var(--text-color-light);
  }

  .box:nth-child(even):not(:empty):hover,
  .box:nth-child(even):not(:empty):focus {
    z-index: 1;
    color: var(--text-color);
    background: var(--accenty);
    opacity: 1;
    transform: scale(1.05) rotateZ(12deg);
    cursor: pointer;
    @media (max-width: 600px) {
      transform: scale(1) rotateZ(2deg);
    }
  }
  .box:nth-child(odd):not(:empty):hover,
  .box:nth-child(odd):not(:empty):focus {
    z-index: 1;
    color: var(--text-color);
    background: var(--sec);
    opacity: 1;
    transform: scale(1.05) rotateZ(-10deg);
    cursor: pointer;
    @media (max-width: 600px) {
      transform: scale(1) rotateZ(-2deg);
    }
  }
  .box:not(:empty):hover:after,
  .box:not(:empty):focus:after {
    opacity: 1;
  }
  .box:not(:empty):hover:before,
  .box:not(:empty):focus:before {
    opacity: 0;
  }

  .box {
    padding: 10px;
    margin: 0.5rem;
    overflow: visible;
    border-radius: 0.5em;
    background: var(--bg-trans);
    box-shadow: 0 4px 30px var(--box-shadow);
    border: var(--border);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: background-color, transform, color, opacity;
  }
  .box:not(:empty):before {
    box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  }
  .box:empty {
    opacity: 0.7;
  }
  .box:before,
  .box:after {
    content: "";
    position: absolute;
    border-radius: 0.5em;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  }
  .box:after {
    border-radius: 0.5em;
    box-shadow: -20px 20px 12px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
  }

  /* --------- Grid ---------- */
  .grid {
    display: grid;
    width: 90vw;
    overflow: visible;
    .box.item1 {
      grid-area: 3/3/3/3;
      background: var(--bg-trans);
      display: none;
    }
    .box.item2 {
      background-image: url(/assets/img/wormhole-1731853681154.png);
      box-shadow: var(--box-shadow);
      border: var(--border);
    }

    .box.item3 {
      grid-area: 1/2/1/2;
      background: var(--bg-box);
      box-shadow: var(--box-shadow);
      border: var(--border);
    }

    .box.item4 {
      background: var(--bg-box);
      box-shadow: var(--box-shadow);
      border: var(--border);
    }
    .box.item4.box:hover,
    .box.item4.box:focus {
      background: var(--prim);
      color: var(--text-color-light);
      transform: none;
      cursor: pointer;
      touch-action: none;
    }

    .box.item5 {
      grid-area: 3/1/3/1;
      background-color: var(--bg-box);
    }

    .box.item7 {
      grid-area: 4/1/4/3;
      background-image: url(/assets/img/wormhole-1731853681154.png);
    }

    .item8.box:hover,
    .item8.box:focus {
      background-color: var(--prim);
    }

    .item9.box:hover,
    .item9.box:focus {
      background-color: var(--accent);
    }

    .item10.box:hover,
    .item10.box:focus {
      background-color: var(--sec);
    }
    .item11.box:hover,
    .item11.box:focus {
      background-color: var(--accenty);
    }
    @media (min-width: 1025px) {
      grid-template-columns: 3fr 2fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      .item2 {
        grid-area: 1/1/1/1;
      }
      .item4 {
        grid-area: 2/1/3/3;
      }
      .item8 {
        grid-area: 1/4/1/5;
      }
      .item9 {
        grid-area: 2/4/2/5;
      }
      .item10 {
        grid-area: 3/4/3/5;
      }
      .item11 {
        grid-area: 4/4/4/5;
      }
    }
    /* --------- Responsive ---------- */
    @media (min-width: 601px) and (max-width: 1024px) {
      h2,
      h3 {
        font-size: 1.4rem;
        text-align: center;
      }
      .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);

        height: auto;
        grid-gap: 1rem;
      }

      .item1 {
        grid-area: 1/1/2/4;
      }
      .item2,
      .item4,
      .item5,
      .item7 {
        display: none;
      }
      .item4 {
        grid-area: 2/3/3/5;
      }
      .item8 {
        grid-area: 3/1/4/3;
      }
      .item9 {
        grid-area: 3/3/4/5;
      }
      .item10 {
        grid-area: 3/5/4/6;
      }
      .item11 {
        grid-area: 4/3/5/5;
      }
      .box {
        grid-area: auto;
        text-align: left;
      }
      .box:empty {
        display: none;
      }
    }
    @media (max-width: 600px) {
      width: 96%;
      padding: 0.2rem;
      margin: 0 auto;
      h3 {
        text-align: left;
      }
      h4 {
        padding: 0.2rem;
        text-align: center;
      }
      a:not([class]),
      i {
        padding: 0;
      }

      .box-text {
        width: 100%;
      }
      .item1,
      .item2,
      .item7 {
        display: none;
      }
      .item4 {
        grid-area: 1/1/1/3;
      }
      .item8 {
        grid-area: 2/1/2/1;
      }
      .item9 {
        grid-area: 2/2/2/2;
      }
      .item10 {
        grid-area: 3/1/3/1;
      }
      .item11 {
        grid-area: 3/2/3/2;
      }

      .box:empty {
        display: none;
      }
    }
  }
  @media (max-width: 600px) {
    display: none;
  }
}
