/* --------- box Animation ---------- */
#hero {
  color: var(--white);
  h3.box-text {
    color: var(--off-white);
    font-size: clamp(1.4rem, 1rem + 1vw - 0.5vh, 3rem);
    font-weight: 500;
    padding: 0.2rem;
    line-height: 1.5;
    text-align: center;
  }
  h4.box-text {
    color: var(--off-white);
    font-weight: 500;
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
  }
  i {
    color: var(--off-white);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
    width: 30ch;
    text-wrap: pretty;
  }
  .box.item4 h3.box-text {
    display: none;
    @media (min-width: 600px) {
      display: block;
    }
  }
  .box.item4 details {
    display: none;
    summary {
      color: var(--white);
      margin-right: 1rem;
    }
    @media (max-width: 600px) {
      display: block;
      font-family: var(--accent);
      color: var(--off-white);
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
    }
  }

  a > i {
    color: var(--offwhite);
  }
  a:hover,
  i:hover {
    color: var(--offwhite);
  }

  .box:nth-child(even):not(:empty):hover,
  .box:nth-child(even):not(:empty):focus {
    z-index: 1;
    color: var(--offwhite);
    background: #280c47a6;
    opacity: 1;
    transform: scale(1.05) rotateZ(12deg);
    cursor: pointer;
    @media (max-width: 600px) {
      transform: scale(1.05) rotateZ(0deg);
    }
  }
  .box:nth-child(odd):not(:empty):hover,
  .box:nth-child(odd):not(:empty):focus {
    z-index: 1;
    color: var(--offwhite);
    background: #280c47a6;
    opacity: 1;
    transform: scale(1.05) rotateZ(-10deg);
    cursor: pointer;
    @media (max-width: 600px) {
      transform: scale(1.05) rotateZ(0deg);
    }
  }
  .box:not(:empty):hover:after,
  .box:not(:empty):focus:after {
    opacity: 1;
  }
  .box:not(:empty):hover:before,
  .box:not(:empty):focus:before {
    opacity: 0;
  }

  .box {
    padding: 10px;
    height: 100%;
    overflow: visible;
    border-radius: 0.7em;
    background: rgba(1, 3, 43, 0.479);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(1, 3, 43, 0.01);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: background-color, transform, color, opacity;
  }
  .box:not(:empty):before {
    box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  }
  .box:empty {
    opacity: 0.7;
  }
  .box:before,
  .box:after {
    content: "";
    position: absolute;
    border-radius: 0.7em;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  }
  .box:after {
    box-shadow: -20px 20px 12px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
  }

  /* --------- Grid ---------- */
  .grid {
    width: 98%;
    height: 90vh;
    padding: 0 1%;
    margin: 1rem auto;
    display: grid;
    overflow: visible;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    .box.item1 {
      grid-area: 2/1/2/3;
      font-size: 0.2rem;
      background-color: rgba(46, 5, 58, 0.363);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: 1px outset rgba(1, 3, 43, 0.363);
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
    }

    .box.item2 {
      grid-area: 1/1/1/1;
      background-color: rgba(83, 9, 67, 0.445);
      background-image: url(/assets/img/wormhole-1731853681154.png);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: 1px outset rgba(1, 3, 43, 0.363);
    }

    .box.item3 {
      grid-area: 1/2/1/2;
      background-color: rgba(37, 5, 56, 0.363);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: 1px outset rgba(1, 3, 43, 0.363);
    }

    .box.item4 {
      grid-area: 3/1/3/3;
      background-color: rgba(46, 5, 58, 0.363);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: 1px outset rgba(1, 3, 43, 0.363);
    }
    .box.item4.box:hover,
    .box.item4.box:focus {
      background: var(--purple);
    }

    .box.item5 {
      grid-area: 4/1/4/1;
      background-color: transparent;
    }

    .box.item7 {
      grid-area: 4/2/4/2;
      background-color: rgba(37, 5, 56, 0.363);
      background-image: url(/assets/img/wormhole-1731853681154.png);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: 1px outset rgba(1, 3, 43, 0.363);
    }

    .item8 {
      grid-area: 1/4/1/5;
    }
    .item8.box:hover,
    .item8.box:focus {
      background-color: var(--deeppurple);
    }

    .item9 {
      grid-area: 2/4/2/5;
    }
    .item9.box:hover,
    .item9.box:focus {
      background-color: var(--candy);
    }

    .item10 {
      grid-area: 3/4/3/5;
    }
    .item10.box:hover,
    .item10.box:focus {
      background-color: var(--pin);
    }

    .item11 {
      grid-area: 4/4/4/5;
    }
    .item11.box:hover,
    .item11.box:focus {
      background-color: #00a8cc;
    }
  }
  /* --------- Responsive ---------- */
  @media (min-width: 601px) and (max-width: 1024px) {
    h2,
    h3 {
      font-size: 1.4rem;
      text-align: center;
      width: 22ch;
    }
    .grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      width: 100vw;
      height: auto;
      grid-gap: 1rem;
    }

    .item1 {
      grid-area: 1/1/2/4;
    }
    .item2,
    .item4,
    .item5,
    .item7 {
      display: none;
    }
    .item4 {
      grid-area: 2/3/3/5;
    }
    .item8 {
      grid-area: 3/1/4/3;
    }
    .item9 {
      grid-area: 3/3/4/5;
    }
    .item10 {
      grid-area: 3/5/4/6;
    }
    .item11 {
      grid-area: 4/3/5/5;
    }
    .box {
      grid-area: auto;
      text-align: left;
      height: 20%;
    }
    .box:empty {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
    }
    h4 {
      padding: 0.4rem;
    }
    a:not([class]),
    i {
      padding: 0;
    }
    .grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 1rem;
      margin: 0 auto;
    }
    .box {
      width: 100%;
      padding: 0.2rem;
    }
    .box:empty {
      display: none;
    }
    .box.item4 h3.box-text {
      display: none;
    }
    .box.item4 details {
      display: inline-flex;
    }
    .box.item1 {
      text-align: center;
      text-wrap: balance;
    }
  }
}
