#home {
  width: 100%;
  height: 100vh;
  background-color: transparent;

  h1.headline {
    width: 100%;
    max-width: 100vw;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    text-shadow: var(--text-shadow);
    background: transparent;

  }

  .intro {
    position: absolute;
    bottom: 2rem;
    left: 20%;
    z-index: 999;
    width: 60vw;
    padding: 1rem 2rem;
    margin: 0 auto;

    @media (max-width: 600px) {
      position: static;
      width: 70vw;
      padding: 1rem;
      margin: 1rem auto;
      height: 100%;
    }

    .chev {
      font-size: 1.5rem;
      padding: 1rem;
      margin: 1rem auto;
      text-align: center;
    }

    h3 {
      font-size: clamp(1.4rem, 1rem + 1vw - 0.5vh, 2.2rem);
      color: var(--clr-text);
      text-align: center;
      font-weight: 500;
      line-height: 1.2;

      @media (max-width: 600px) {
        line-height: 1.4;
        margin-bottom: 2 rem;
      }
    }
  }

 

  #compare {
    width: 100%;
    position: relative;
    padding: 2rem;
    margin: 0 auto;

    #example {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;

      img {
        filter: contrast(1.2) saturate(1.1);
      }
    }

    @media (max-width: 600px) {
      margin-top: 2rem;
      margin: 0;
      padding-bottom: 5%;
    }
  }
}

@media screen and (max-width: 789px) {
  #split {
    display: none;
  }
}

@media screen and (min-width: 790px) {
  #compare {
    display: none;
  }

  #split {
    width: 900px;
    height: auto;
    
    margin: 0 auto;
    padding: 1rem;
    padding-top: 10vh;
    @media (orientation: landscape) {
      max-height: 100vh;
    
    }
    @media (orientation: portrait) {
      max-height: 70vh;
    
    }

    /* From Uiverse.io by Yaya12085 */
    .code-editor {
      width: 100%;
      background-color: #1d1e22;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      padding: 2px;
      z-index: 999;
  

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
    }

    .title {
      font-family: monospace;
      font-weight: 900;
      font-size: 14px;
      letter-spacing: 1.57px;
      color: rgb(212 212 212);
    }

    .icon {
      width: 20px;
      transition: 0.2s ease;
    }

    .icon:hover {
      cursor: pointer;
      border-radius: 50px;
      background-color: #6e7281;
    }

    .editor-content {
      font-family: var(--ff-monospace);
      text-align: left;
      margin: 0 10px 10px;
      color: white;
    }

    .property {
      margin-left: 30px;
    }

    .property:hover {
      cursor: text;
    }

    .editor-content .color-0 {
      color: rgb(86 156 214);
    }

    .editor-content .color-1 {
      color: rgb(182 206 168);
    }

    .editor-content .color-2 {
      color: rgb(156 220 254);
    }

    .editor-content .color-3 {
      color: rgb(207 146 120);
    }

    .color-preview-1,
    .color-preview-2 {
      height: 8px;
      width: 8px;
      border: 1px solid #fff;
      display: inline-block;
      margin-right: 3px;
    }

    .color-preview-1 {
      background-color: #1d1e22;
    }

    .color-preview-1 {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .card-showcase {
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);

  
  .content-showcase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content-showcase .heading-showcase {
    font-weight: 700;
    font-size: 32px;
  }
  
  .content-showcase .para-showcase {
    line-height: 1.5;
  }
  
  .content-showcase .btn-showcase {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-showcase::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card-showcase:hover::before {
    width: 100%;
  }
    }
    .subtitle {
      position: absolute;
      color: rgb(146, 245, 245);
      text-shadow: 6px 6px 20px #0f0322c5;
      padding: 2rem;
      padding-top: 6rem;
      top: 10vh;
      left: 50%;
      z-index: 998;
      font-weight: 800;
    }

    .splitview {
      position: relative;
      width: 100%;
      height: 100vh;
      min-height: 45vw;
      overflow: visible;
    }

    .panel {
      position: absolute;
      width: 100vw;
      min-height: 45vw;
      overflow: hidden;
      cursor: auto;
    }

    .panel .content {
      position: absolute;
      top: 10vh;
      width: 100vw;
      min-height: 45vw;
      color: #fff;
    }

    .panel .description {
      
      position: absolute;
      top: 50%;

      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .panel .description .right{
     right: 0;
    }
    .panel .description .left{
     left: 0;
    }

    .panel .description h1 {
      font-family: var(--ff-cursive);
      font-size: clamp(24px, 5vw + 1vh, 40px);
      padding: 0.5rem;
    }

    .panel .description p {
      font-family: var(--ff-accent);
      font-size: clamp(22px, 1rem + 2vw + 0.5vh, 32px);

      font-weight: 600;

      color: var(--text-color);
    }

    .panel img {
      width: 50%;
      position: absolute;
      top: 45%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
    .panel .code-editor {
      width: 50%;
      position: absolute;
      top: 45%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    .bottom {
      background-color: transparent;
      z-index: 1;
    }

    .bottom .description {
      right: 8%;
    }

    .bottom .description .middle {
      position: absolute;
      top: 70%;
      left: 60%;
      transform: translate(-50%, -50%);
    }

    .top {
      background-image: linear-gradient(200deg,
          rgb(216, 213, 16),
          rgba(182, 75, 125) 40%,
          rgb(153, 14, 130) 50%,
          rgb(122, 4, 133) 70%,
          rgb(100, 4, 124) 75%,
          rgb(60, 6, 92) 85%,
          rgba(42, 7, 87, 0.671) 90%);
      z-index: 2;
      width: 100vw;
      height: 100vh;
      -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 46% 100%);
      clip-path: polygon(70% 0, 100% 0, 100% 100%, 46% 100%);
    }

    .top .description {
      left: 8%;
    }

    /* Handle. */
    .handle {
      height: 100%;
      position: absolute;
      display: block;
      background-color: transparent;
      width: 5px;
      top: 0;
      left: 50%;
      z-index: 3;
    }

    /* Skewed. */
    .skewed .handle {
      top: 50%;
      transform: rotate(20deg) translateY(-50%);
      height: 100%;
      -webkit-transform-origin: top;
      -moz-transform-origin: top;
      transform-origin: top;
    }

    .skewed .top {
      transform: skew(-20deg);
      margin-left: -1000px;
      width: calc(80vw + 1000px);
    }

    .skewed .top .content {
      transform: skew(20deg);

      @media (min-width: 600px) {
        margin-left: 1000px;
      }
    }
  }
}

#split a {
  position: absolute;
  bottom: 5%;
  right: 2%;
  font-size: 2vw;
  color: white;
  z-index: 9999;
}