@media screen and (max-width: 789px) {
  #compare {
    margin-top: 10vh;
    width: 100vw;
    height: 100%;
  }
  #split {
    display: none;
  }
}
@media screen and (min-width: 790px) {
  #compare {
    display: none;
  }
  #split {
    background-color: #1b1b1b;
    .subtitle {
      position: absolute;
      color: rgb(146, 245, 245);
      text-shadow: 6px 6px 20px #0f0322c5;
      padding: 2rem;
      padding-top: 6rem;
      top: 10vh;
      left: 40%;
      z-index: 998;
      font-weight: 800;
    }
    .splitview {
      position: relative;
      width: 100%;
      height: 100vh;
      min-height: 45vw;
      overflow: hidden;
    }

    .panel {
      position: absolute;
      width: 100vw;
      min-height: 45vw;
      overflow: hidden;
      cursor: move;
    }

    .panel .content {
      position: absolute;
      top: 10vh;
      width: 100vw;
      min-height: 45vw;
      color: #fff;
    }

    .panel .description {
      width: 25%;
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .panel .description h1 {
      font-family: var(--ff-cursive);
      font-size: clamp(24px, 5vw + 1vh, 40px);
      padding: 0.5rem;
    } /* 
      .panel .description p {
        font-family: var(--ff-accent);
        font-size: clamp(18px, 1rem + 1vw + 0.5vh, 24px);
        width: 40ch;
        font-weight: 500;
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        color: var(--white);
      } */

    .panel img {
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      background-image: url(/assets/img/Layer_1-removebg-preview.png);
    }

    .bottom {
      background-color: transparent;
      z-index: 1;
    }

    .bottom .description {
      right: 8%;
    }
    .bottom .description .middle {
      position: absolute;
      top: 70%;
      left: 60%;
      transform: translate(-50%, -50%);
    }

    .top {
      background-image: linear-gradient(
        200deg,
        rgb(216, 213, 16),
        rgba(182, 75, 125) 40%,
        rgb(153, 14, 130) 50%,
        rgb(122, 4, 133) 70%,
        rgb(100, 4, 124) 75%,
        rgb(60, 6, 92) 85%,
        rgba(42, 7, 87, 0.671) 90%
      );
      z-index: 2;
      width: 100vw;
      height: 100vh;
      -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 46% 100%);
      clip-path: polygon(70% 0, 100% 0, 100% 100%, 46% 100%);
    }

    .top .description {
      left: 8%;
    }

    /* Handle. */
    .handle {
      height: 100%;
      position: absolute;
      display: block;
      background-color: #033c92fb;
      width: 5px;
      top: 0;
      left: 50%;
      z-index: 3;
    }

    /* Skewed. */
    .skewed .handle {
      top: 50%;
      transform: rotate(20deg) translateY(-50%);
      height: 200%;
      -webkit-transform-origin: top;
      -moz-transform-origin: top;
      transform-origin: top;
    }

    .skewed .top {
      transform: skew(-20deg);
      margin-left: -1000px;
      width: calc(80vw + 1000px);
    }

    .skewed .top .content {
      transform: skew(20deg);
      @media (min-width: 600px) {
        margin-left: 1000px;
      }
    }
  }
}
#split a {
  position: absolute;
  bottom: 5%;
  right: 2%;
  font-size: 2vw;
  color: white;
  z-index: 9999;
}
