#home {
  width: 100%;
  height: 100vh;
  @media (min-width: 980px) {
    height: auto;
    background-color: transparent;
    h1.headline {
      font-size: clamp(3rem, 6vw - 1vh, 8rem);
      position: absolute;
      top: 0;
      z-index: 999;
    }
    #compare {
      display: none;
    }
  }
  h1.headline {
    width: 100%;
    max-width: 100vw;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    text-shadow: var(--text-shadow);
    background: transparent;
  }
  .intro {
    position: absolute;
    bottom: 2rem;
    left: 20%;
    z-index: 999;
    width: 60vw;
    padding: 1rem 2rem;
    margin: 0 auto;

    @media (max-width: 600px) {
      position: static;
      width: 70vw;
      padding: 1rem;
      margin: 1rem auto;
      height: 100%;
    }
    .chev {
      font-size: 1.5rem;
      padding: 1rem;
      margin: 1rem auto;
      text-align: center;
    }
    h3 {
      font-size: clamp(1.4rem, 1rem + 1vw - 0.5vh, 2.2rem);
      color: var(--text-color);
      text-align: center;
      font-weight: 500;
      line-height: 1.2;

      @media (max-width: 600px) {
        line-height: 1.4;
        margin-bottom: 2 rem;
      }
    }
  }

  .scroll-btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: 999;
    width: max-content;
    padding: 1rem;
    margin: 1rem auto;
    transform: rotate(90deg);
    .home-scroll {
      letter-spacing: -8px;
      i {
        color: var(--text-color);
        font-size: 2rem;
        animation-name: blink-down;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        &:first-child {
          animation-delay: 0s;
        }
        &:last-child {
          animation-delay: 0.7s;
        }
      }
    }
    @media (max-width: 600px) {
      position: static;
      padding: 0;
      margin: 0 auto;
    }
  }
  #compare {
    width: 100%;
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    #example {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      img {
        filter: contrast(1.2) saturate(1.1);
      }
    }
    @media (max-width: 600px) {
      margin-top: 2rem;
      margin: 0;
      padding-bottom: 5%;
    }
  }
}
@media screen and (max-width: 789px) {
  #split {
    display: none;
  }
}
@media screen and (min-width: 790px) {
  #compare {
    display: none;
  }
  #split {
    .subtitle {
      position: absolute;
      color: rgb(146, 245, 245);
      text-shadow: 6px 6px 20px #0f0322c5;
      padding: 2rem;
      padding-top: 6rem;
      top: 10vh;
      left: 40%;
      z-index: 998;
      font-weight: 800;
    }
    .splitview {
      position: relative;
      width: 100%;
      height: 100vh;
      min-height: 45vw;
      overflow: visible;
    }

    .panel {
      position: absolute;
      width: 100vw;
      min-height: 45vw;
      overflow: hidden;
      cursor: move;
    }

    .panel .content {
      position: absolute;
      top: 10vh;
      width: 100vw;
      min-height: 45vw;
      color: #fff;
    }

    .panel .description {
      width: 25%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .panel .description h1 {
      font-family: var(--ff-cursive);
      font-size: clamp(24px, 5vw + 1vh, 40px);
      padding: 0.5rem;
    }
    .panel .description p {
      font-family: var(--ff-accent);
      font-size: clamp(22px, 1rem + 2vw + 0.5vh, 32px);

      font-weight: 600;

      color: var(--text-color);
    }

    .panel img {
      width: 30%;
      position: absolute;
      top: 45%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    .bottom {
      background-color: transparent;
      z-index: 1;
    }

    .bottom .description {
      right: 8%;
    }
    .bottom .description .middle {
      position: absolute;
      top: 70%;
      left: 60%;
      transform: translate(-50%, -50%);
    }

    .top {
      background-image: linear-gradient(
        200deg,
        rgb(216, 213, 16),
        rgba(182, 75, 125) 40%,
        rgb(153, 14, 130) 50%,
        rgb(122, 4, 133) 70%,
        rgb(100, 4, 124) 75%,
        rgb(60, 6, 92) 85%,
        rgba(42, 7, 87, 0.671) 90%
      );
      z-index: 2;
      width: 100vw;
      height: 100vh;
      -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 46% 100%);
      clip-path: polygon(70% 0, 100% 0, 100% 100%, 46% 100%);
    }

    .top .description {
      left: 8%;
    }

    /* Handle. */
    .handle {
      height: 100%;
      position: absolute;
      display: block;
      background-color: transparent;
      width: 5px;
      top: 0;
      left: 50%;
      z-index: 3;
    }

    /* Skewed. */
    .skewed .handle {
      top: 50%;
      transform: rotate(20deg) translateY(-50%);
      height: 100%;
      -webkit-transform-origin: top;
      -moz-transform-origin: top;
      transform-origin: top;
    }

    .skewed .top {
      transform: skew(-20deg);
      margin-left: -1000px;
      width: calc(80vw + 1000px);
    }

    .skewed .top .content {
      transform: skew(20deg);
      @media (min-width: 600px) {
        margin-left: 1000px;
      }
    }
  }
}
#split a {
  position: absolute;
  bottom: 5%;
  right: 2%;
  font-size: 2vw;
  color: white;
  z-index: 9999;
}
