@import url(variables.css);
@import url(reset.css);
@import url(fonts.css);
@import url(illustrations.css);
@import url(classes.css);
@import url(split.css);
@import url(slider.css);
@import url(glide.css);
@import url(style.css);

