/* NAVIGATION */
.logo {
  position: sticky;
  top: 10vh;
  contain: size;
  z-index: 999;
  width: 25%;
  animation: logoGone;
  animation-timeline: scroll();
  animation-iteration-count: 1;
}
.logo img {
  padding: 0;
  margin: 0;
  width: 15vw;
}

@keyframes logoGone {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
    transform: translateX(-95px) translateY(-60px) scale(0.3);
  }
  100% {
    opacity: 0.2;
    transform: translateX(-95px) translateY(-60px) scale(0.3);
  }
}

@media screen and (max-width: 782px) {
  .logo {
    position: sticky;
    isolation: isolate;
    z-index: 999;
    top: 10px;
    left: 10px;
    width: 10vw;
    animation: logoGoneSM cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-timeline: scroll();
  }
}

@keyframes logoGoneSM {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.1);
    transform: translateX(-12px) translateY(-60px);
  }
}
nav.navbar {
  position: sticky;
  top: 0; 
  width: 100vw;
  background-color: var(--clr-bg);
  z-index: 9999;
  ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  
}

ul li {
    list-style: none;

   
   

}

ul li a {
    position: relative;
    color: var(--clr-text);
    font-family: var(--ff-cursive);
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    padding: 1.4rem 2rem;
    z-index: 1000;
    backdrop-filter: blur(12px);
}

ul li a ion-icon {
    font-size: 1.5em;
    pointer-events: none;
    opacity: 0.25;
    transition: 0.25s;
}

ul li.active a ion-icon {
    opacity: 1;
}

#marker {
    position: absolute;
   top: 40%;
    transition: 0.5s;
    z-index: 1;
    
}

#marker::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 1.2rem;
    border-radius: 12px;
    background: var(--clr-primary);
    box-shadow: 0 0 15px var(--clr-primary),
        0 0 30px var(--clr-primary),
        0 0 40px var(--clr-primary),
        0 0 50px var(--clr-primary)
}

ul li:nth-child(1).active~#marker::before {
  background: var(--clr-quaternary);
  box-shadow: 0 0 15px var(--clr-quaternary),
      0 0 30px var(--clr-quaternary),
      0 0 40px var(--clr-quaternary),
      0 0 50px var(--clr-quaternary)
   
}

ul li:nth-child(2).active~#marker::before {
  background: var(--clr-secondary);
  box-shadow: 0 0 15px var(--clr-secondary),
      0 0 30px var(--clr-secondary),
      0 0 40px var(--clr-secondary),
      0 0 50px var(--clr-secondary)
   
}
ul li:nth-child(3).active~#marker::before {
  background: var(--clr-primary);
  box-shadow: 0 0 15px var(--clr-primary),
      0 0 30px var(--clr-primary),
      0 0 40px var(--clr-primary),
      0 0 50px var(--clr-primary)
}
ul li:nth-child(4).active~#marker::before {
  background: var(--clr-tertiary);
  box-shadow: 0 0 15px var(--clr-tertiary),
      0 0 30px var(--clr-tertiary),
      0 0 40px var(--clr-tertiary),
      0 0 50px var(--clr-tertiary)
   
}

ul li:nth-child(5).active~#marker::before {
  background: var(--clr-quaternary);
  box-shadow: 0 0 15px var(--clr-quaternary),
      0 0 30px var(--clr-quaternary),
      0 0 40px var(--clr-quaternary),
      0 0 50px var(--clr-quaternary)
}
}
/* Horizontalna traka navigacije postat će sticky tijekom skrolanja, na velikim ekranima, a na malim ekranima bit će hamburger menu koji se otvara kao vertikalni menu */
/* nav {
  width: 10vw;
  position: fixed;
  top: 0;
  z-index: 9999;
  right: 0;
  @media (max-width: 600px) {
    top: 0;
    width: 100%;
    background-color: var(--clr-bg-black);
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}
nav ul li {
  padding: 1vh;
  width: max-content;
  @media (max-width: 600px) {
    [data-content="About"] {
      display: none;
    }
  }
}
nav ul li i {
  color: var(--link-color);
  font-size: 1.7rem;
}
nav ul li a {
  position: relative;
  font-family: var(--ff-accent);
  color: var(--link-color);
  font-size: clamp(1rem, 1.2rem + 1vw, 2rem);
  text-decoration: none;

  transform: translateX(0);
  transition: all 1s ease;
}
nav ul li a::before {
  content: "";
  display: inline;
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  @media (max-width: 600px) {
    top: 0;
    right: 0;
    padding-right: 1rem;
    font-size: 1.2rem;
    opacity: 1;
    transform: scale(0);
  }
}
nav ul li a:hover {
  color: var(--accent);
}
nav ul li a:hover::before {
  content: attr(data-content);
  display: inline;
  right: 3rem;
  padding-right: 1rem;
  font-size: inherit;
  opacity: 1;

  width: fit-content;
  height: fit-content;
  color: var(--link-color);
  transition: all 1s ease;
  @media (max-width: 600px) {
    display: none;
  }
}
nav ul li a:hover,
a:active {
  color: var(--accent);
} */
/* Add this to your existing CSS file */

/* Hide the navbar by default on smaller screens */
@media screen and (max-width: 600px) {
  .navbar, .splitview {display: none;
  }
  .nav__toggle {display: block;}
}
 

/* Show the navbar when the menu button is clicked*/
@media screen and (min-width: 601px) {
  .navbar {display: block;}
  .nav {display: none;}
  
}


/* Style the menu button */
.menu-button {
  display: block;
  position: fixed;
  top: 6px;
  right: 12px;
  background-color: var(--link-color);
  color: var(--background);
  border: none;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  z-index: 1000;
}

/* Hide the menu button when the navbar is active */
.menu-button.hidden {
  display: none;
}


.nav__toggle {
  display: inline-block;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9999;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;

  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;
}
.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100vw;
  position: fixed;
  top: 10vh;
  left: 0;

  z-index: 99999;
  visibility: hidden;
}
.nav__item {
  
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}
.nav__item:nth-child(1) {
  transform: translateY(-40px);
}
.nav__item:nth-child(2) {
  transform: translateY(-80px);
}
.nav__item:nth-child(3) {
  transform: translateY(-120px);
}
.nav__item:nth-child(4) {
  transform: translateY(-160px);
}
.nav__item:nth-child(5) {
  transform: translateY(-200px);
}
.nav__item:nth-child(6) {
  transform: translateY(-240px);
}
.nav__link {
  color: white;
  display: block;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}
.nav__link:hover, .nav__link:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 9999;
}
.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}
.menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}
.menuicon__circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: 144.513262038;
  stroke-dasharray: 144.513262038;
}

.splash {
  position: fixed;
  isolation: isolate;
  z-index: 9998;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
 
}
.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(45deg, var(--clr-tertiary) 0%, var(--clr-primary) 30%, var(--clr-secondary) 70%, var(--clr-quaternary) 100%);
  opacity: 1;
  width: 284vmax;
  height: 230vmax;
  top: -142vmax;
  left: -142vmax;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav:target > .splash::after,
.nav--open > .splash::after {
  transform: scale(1);
}
.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  transform: rotate(180deg);
}
.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}
.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}
.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  transform: translateY(0);
}
