/* PARALLAX - .main-container zamijenit će <body>, definiramo ga kako bismo imali "skrolabilni" element */
* {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: var(--ff-text), sans-serif;
  color: var(--text);
}
h1 {
  font-size: clamp(3rem, 6vw - 2vh, 5rem);
}
h2 {
  font-size: clamp(2.4rem, 5vw - 1.5vh, 4rem);
}
h3 {
  font-size: clamp(2rem, 4vw - 2vh, 3rem);
}
h4 {
  font-size: clamp(1.8rem, 3vw - 1vh, 3rem);
}
h5 {
  font-size: clamp(1.4rem, 2vw - 0.5vh, 2.5rem);
}
p {
  font-size: clamp(1.125rem, 2vw - 1vh, 1.6rem);
  line-height: 1.2;
  padding: 1rem;
  margin: 0 auto;
}
/* PARALLAX - MAIN CONTAINER JE SCROLLER I NOSI CIJELU STRANICU */
.main-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
}
.parallax-header {
  position: relative;
  /*  display: flex;
  justify-content: space-evenly;
  align-items: center; */
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  @media (max-width: 600px) {
    width: 100vw;
   
    
   
  }
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.background {
  transform: translateZ(-100px) scale(2);
  @media (max-width: 600px) {
   transform: translateZ(-100px) translateY(0) scale(2);
  }
}
.background img {
  filter: none;
}
.foreground {
  width: 100%;
  left: 0;
  transform: translateZ(-60px) scale(1.1) translateX(-30%) translateY(220px);
  @media (max-width: 780px) {
    transform: translateZ(-60px) scale(1.8) translateY(25%);
    object-fit: scale-down;
  }
  @media (max-width: 600px) {
 
    transform: translateZ(-60px) scale(2) translateX(0) translateY(30%);
    object-fit: contain;
  }
}
.parallax-header .h1 {
  position: absolute;
  left: 20%;
  text-rendering: geometricPrecision;
  font-family: var(--ff-title), cursive;
  color: var(--text);
  text-shadow: 7px 8px 10px rgba(19, 18, 18, 0.951),
    0 0 10px rgba(19, 18, 18, 0.951);
  transform: translateZ(-75px) translateY(-90%) scale(2);
  text-align: center;
  @media (max-width: 789px) {
    transform: translateZ(-75px) translateY(-90%) scale(2);
    text-align: left;
 
  }
  @media (max-width: 600px) {
    transform: translateZ(-75px) translateY(-100%) scale(1.6);
   top: 0;
    left: 0;
    text-align: center;
    width: 100%;
  }
}
.parallax-header .h11 {
  position: absolute;
  top: 10%;
  left: 40%;
  text-rendering: geometricPrecision;
  font-family: var(--ff-heading), cursive;
  color: var(--white-alt);
  text-shadow: 7px 8px 10px rgba(19, 18, 18, 0.951),
    0 0 10px rgba(19, 18, 18, 0.951);
  transform: translateZ(-70px) scale(2);
  text-align: right;
  @media (max-width: 789px) {
    transform: translateZ(-70px) translateY(0) scale(1.6);
    width: 100%;
    text-align: center;
    left: 10%;
    top: 10%;
  }
}
.parallax-header .h2 {
  position: absolute;
  top: 80%;
  right: 5%;
  margin: 2em auto;
  text-rendering: geometricPrecision;
  font-family: var(--ff-cursive), cursive;
  font-weight: 500;
  text-align: right;
  color: var(--text);
  text-shadow: 7px 8px 10px rgba(19, 18, 18, 0.951),
    0 0 10px rgba(19, 18, 18, 0.951);
  transform: translateZ(-30px) scale(1.6);
  @media (max-width: 789px) {
    top: -50px;
    margin: 2em 0;
  }
}
.parallax-header .h3 {
  position: absolute;
  font-weight: 800;
  text-align: right;
  top: 60%;
  right: 15%;
  font-family: var(--ff-heading), cursive;
  color: var(--background);
  text-shadow: 0px 1px 1px rgb(255, 250, 250),
    -1px -1px 1px rgba(112, 112, 112, 0.863);
  transform: translateZ(-20px) scale(2);
  @media (max-width: 600px) {
    transform: translateX(-20%) scale(1.2);
  }
}
.container-pllx {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 40%;
  margin: 1rem auto;
  padding: 1rem 2rem;

  background: #05041856;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(3, 1, 24, 0.137);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  overflow: visible;
  transform: translateZ(-20px) translateY(-50%) scale(1);
  
  @media screen and (max-width: 783px) {
    top: 50%;
    left: 5%;
    right: 5%;
    width: 90vw;
    padding: 1rem;
    margin: 0 auto;
  }
  @media screen and (max-width: 600px) {
    width: 90vw;
    padding: 1rem;
    margin: 0 auto;
    top: 20%;
    left: 2vw;
    transform: translateZ(-10px) translateY(80%) scale(1);
  
  }
  p {
    color: var(--text-alt);
    font-family: var(--ff-heading);
    font-size: 1.2 rem;
    text-align: center;
  }
}

/* Element <main> sadrži sve što dolazi poslije parallaxa, tj. sve osim parallaxa */
main {
  background: linear-gradient(-45deg, #3b0483, #8f106f, #037488, #1369b9);
}

/* Logo (stilizirano slovo M) treba čuvati poziciju bez obzira na skrolanje, ali se scroll-animacijom definira njegova veličina i boja, pa se treba smanjiti i postati transparentan  */

.logo {
  position: sticky;
  contain: size;
  z-index: 999;
  top: 0;
  left: 0;
  width: 25%;
  animation: logoGone;
  animation-timeline: scroll();
  animation-iteration-count: 1;
}
.logo img {
  padding: 0;
  margin: 0;
  width: 15vw;
}

@keyframes logoGone {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
    transform: translateX(-95px) translateY(-60px) scale(0.3);
  }
  100% {
    opacity: 0.2;
    transform: translateX(-95px) translateY(-60px) scale(0.3);
  }
}

@media screen and (max-width: 782px) {
  .logo {
    position: sticky;
    isolation: isolate;
    z-index: 999;
    top: 0;
    left: 10px;
    width: 10vw;
    animation: logoGoneSM cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-timeline: scroll();
  }
}

@keyframes logoGoneSM {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.1);
    transform: translateX(-12px) translateY(-60px);
  }
}

/* Horizontalna traka navigacije postat će sticky tijekom skrolanja, na velikim ekranima, a na malim ekranima bit će hamburger menu koji se otvara kao vertikalni menu */
nav {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  & ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    & li {
      padding: 1vh;
    }
    & li:nth-last-child(1) {
      margin-right: 10px;
    }
  }
}
nav ul li a {
  font-family: var(--ff-heading);
  color: var(--text);
  text-shadow: 6px 6px 20px #131212f7;
  font-size: clamp(1rem, 2vw - 1vh, 1.6rem);
  text-decoration: none;
}
nav ul li a:link,
a:visited {
  color: white;
}
nav ul li a:hover::first-child {
  color: var(--pink);
}
nav ul li a:hover:first-child {
  color: var(--blue);
}

/* GLOBAL CLASSES - klase koje će mi se ponavljati kroz sekcije stranice; kako bi stil bio ujednačen */
.container {
  width: 80%;
  margin: 1rem auto;
  padding: 3rem 2rem;
  background-color: var(--background-transparent);
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
  @media screen and (max-width: 783px) {
    width: 90%;
    padding: 1.5rem 1rem;
  }
}
.flex-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
  background: var(--background);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  @media (max-width: 783px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
  }
  img {
    width: clamp(20%, 400px, 30vw);
    padding: 1rem;
    margin: 1rem auto;
  }
}
.small-container {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  margin: 1rem auto;
  background-color: var(--background);
  border: 5px solid #232222;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0 rgba(28, 28, 28, 0.834);
  overflow: hidden;
  @media (max-width: 783px) {
    width: 90%;
    padding: 0;
  }
}

.row-container {
  width: 100%;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* ELEMENTi */
.wrapper {
  width: 80%;
  margin: 1rem auto;
  padding: 3rem 2rem;
}
section {
  width: 100vw;
}
section h2 {
  max-width: 99%;
  font-size: calc(3rem + 8vw - 2vh);
  text-align: center;
  padding: 1rem 1.6rem;
  margin: 1rem auto;
  font-family: var(--ff-title), sans-serif;
  font-weight: 700;
  color: var(--background);
  text-shadow: 2px 1px 0px rgb(255 255 255 / 97%);
  text-rendering: geometricPrecision;
}
section h3 {
  font-family: var(--ff-heading);
  font-size: clamp(2.175rem, 2rem + 2vw + 1vh, 3.725rem);
  font-weight: 500;
  color: var(--teal);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
button {
  display: block;
  padding: 0;
  margin: 0 auto;
  font-family: var(--ff-link);
  font-weight: 400;
  width: clamp(136px, 6vh + 6vw, 280px);
  height: clamp(44px, 5vh, 130px);
  color: var(--text);
  border: 1px outset var(--blue);
  border-radius: 12px;
  font-size: 100%;
  box-shadow: var(--box-shadow);
  text-rendering: geometricPrecision;
  text-decoration: none;
  text-decoration-line: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(
    45deg,
    var(--orange) 20%,
    var(--pink) 60%,
    var(--blue)
  );
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  & a {
    color: var(--text);
    text-decoration: none;
  }
  &:hover {
    border-style: inset;
    box-shadow: none;
    background: linear-gradient(
      45deg,
      var(--teal) 10%,
      var(--blue) 20%,
      var(--pink)
    );
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.text-pink {
  color: var(--pink);
}
.text-blue {
  color: var(--blue);
}
.text-teal {
  color: var(--teal);
}
.text-orange {
  color: var(--orange);
}
.text-white {
  color: var(--white);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 60%;
  height: fit-content;
  padding: 1rem;
  margin: 1rem auto;
  background: rgba(3, 3, 2, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  @media (max-width: 783px) {
    width: 90%;
  }
}

/* LIST IN SKILLS SECTION */
.skill-list {
  width: 95%;
  padding: 1em 1em;
  margin: 0 auto;
  @media (max-width: 783px) {
    width: 100%;
    padding: 0;
  }
  & ul {
    padding: 2rem 1rem;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 783px) {
      padding: 0;
    }
    & i {
      font-size: clamp(1.6rem, 1rem + 1vw, 2rem);
      padding: 1rem;

      @media (max-width: 783px) {
        font-size: 2rem;
      }
    }
    & li {
      font-size: clamp(1.6rem, 1rem + 1vw, 2rem);
      font-family: var(--ff-heading);
      font-weight: 400;
      color: var(--text);
      text-rendering: geometricPrecision;
      text-align: center;
      vertical-align: middle;
      line-height: 1.5;
      margin: 1rem;
    }
  }
}
/* SKILLS SECTION */

.container-skill {
  padding: 1rem;
  margin: 1rem auto;
}
.container-skill p {
  max-width: 40ch;
  font-family: var(--ff-link);
  font-weight: 400;
  margin: 0 1.4rem;
  font-size: clamp(1.4rem, 1.2rem + 1vw, 2.4em);
  color: var(--text);
  text-align: center;
}

.skill-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-set .skill-outer {
  display: block;
}
.skill-set svg {
  max-width: 150px;
  height: auto;
  width: 100%;
}

.brand-icon {
  color: var(--text);
  text-shadow: 1px 1px 3px black;
  padding: 1rem;
  margin: 1rem auto;
  & i {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    font-size: 7vw;
  }
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 90%;
  @media (max-width: 789px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
  }
}

.icon-block {
  cursor: pointer;
  width: 15%;
  @media (max-width: 789px) {
    width: 80%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }
}

.icon-block img {
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  @media (max-width: 783px) {
    width: 50%;
    padding: 0;
    margin: 0 auto;
  }
}
.icon-block img:hover {
  transform: scale(1);
}

.icon-block img {
  max-width: 256px;
}
/* PROJECTS SECTION */
#projects * .project-card {
  width: 70%;
  padding: 1rem 2rem;
  margin: 3rem auto;
  background-color: var(--background);
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0 rgba(28, 28, 28, 0.834);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  & summary {
    font-family: var(--ff-text);
    font-size: 2.3rem;
    padding: 1rem;
    color: var(--text);
  }
  & details {
    font-family: var(--ff-link);
    font-size: 1.6rem;
    padding: 1rem;
    color: var(--text);
  }
  @media (max-width: 783px) {
    width: 90%;
  }
  & .card-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem 1rem;
    background-color: #232222;
    border: 3px solid inherit;
    border-radius: 5px;
    & label {
      display: block;
      font-family: var(--ff-link);
      font-size: 1.6rem;
      color: var(--text);
    }
    @media (max-width: 994px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      padding: 1rem;
    }
    & button {
      @media (max-width: 994px) {
        font-size: 1.2rem;
      }
    }
    .image-text {
      text-align: left;
      color: var(--white);
    }
  }
}
/* PROJECTS */
.project-card {
  width: 60%;
  padding: 2rem;
  margin: 1rem auto;
  min-height: 400px;
  border-radius: 20px;
  background: var(--background);
  box-shadow: 5px 5px 8px #1b1b1b, -5px -5px 8px #272727;
  transition: all linear 0.4s;
  @media screen and (max-width: 783px) {
    width: 90%;
  }
}

.project-card-title {
  font-family: var(--ff-heading);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--teal);
  margin: 1rem 0 0 0.8rem;
}

.project-card-image {
  max-width: 100%;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  box-shadow: outset 5px 5px 3px #2f2f2f, outset -5px -5px 3px #333333;
  padding: 0;
  margin: auto;
  text-align: center;
  @media screen and (max-width: 783px) {
    width: 100%;
    height: 100%;
  }
}
.project-card-image img {
  margin: auto;
  width: 95%;
  height: 95%;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  &:hover {
    width: 100%;
    box-shadow: 0 0 10px rgba(9, 117, 241, 0.8);
    border-color: var(--blue);
  }
  @media screen and (max-width: 783px) {
    width: 100%;
    height: 100%;
  }
}
.project-card-body {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 1.2rem;
}

.project-card-footer {
  text-align: center;
  margin: 2rem 0 0 1rem;
}

.projects label {
  font-size: 1.4rem;
  color: var(--text-alt);
  font-family: var(--ff-link);
  font-weight: 400;
  line-height: 1.5;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* CONTACT SECTIoN */

#contact {
  & form {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--ff-heading);
    @media (max-width: 783px) {
      width: 90%;
    }
    @media (max-width: 600px) {
      width: 95%;
    }

    & :is(input, textarea) {
      width: 100%;
      padding: 0.4rem;
      margin: 1rem 0;
      border: 2px solid var(--blue);
      border-radius: 5px;
      font-family: var(--ff-text);
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--text-color) !important;
      background-color: var(--background) !important;
      box-shadow: var(--box-shadow);
      @media (max-width: 600px) {
        width: 90%;
        margin: 1rem auto;
      }
      &:focus,
      &:active {
        border: 2px solid var(--blue);
      }
      &:placeholder-shown {
        border: 2px solid var(--blue);
      }
      &:not(:placeholder-shown) {
        &:focus:invalid {
          border: 2px solid var(--yellow);
        }
        &:invalid {
          border: 2px solid var(--orange);
        }
        &:valid {
          border: 2px solid var(--green);
        }
      }
      &::placeholder {
        font-style: italic;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 100px var(--background) inset !important;
        background-color: var(--background) !important;
        -webkit-text-fill-color: var(--text-color) !important;
      }
    }
    & textarea {
      resize: none;
    }
    .checkbox input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid currentColor;
      border-radius: 0.15em;
      transform: translateY(-0.075em);
      margin-top: 1rem;
      display: inline-grid;
      place-content: center;
      border: 2px solid var(--blue);
      &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms all ease-in-out;
        box-shadow: inset 1em 1em var(--background);
      }
      &:checked::before {
        transform: scale(1);
        box-shadow: inset 1em 1em var(--success);
      }
      &:checked {
        border: 2px solid var(--green);
      }
    }
    & button {
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: all 0.4s;
      cursor: pointer;
      & span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }
      & svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      &:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      &:active svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      &:active span {
        transform: translateX(5em);
      }
      &:active {
        transform: scale(0.95);
      }
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }

        to {
          transform: translateY(-0.1em);
        }
      }
    }
    & label {
      font-family: var(--ff-heading);
      font-size: 1.4rem;
      font-weight: 450;
      color: var(--text);
      &[for="agree"] {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}

/* footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--ff-text);
  font-size: 1.4rem;
  padding: 1rem;
  margin: 2rem auto;
  width: 100%;
  & h3 {
    font-family: var(--ff-heading);
    font-weight: 500;
  }
  & p {
    font-family: var(--ff-text);
    font-weight: 300;
    color: var(--text);
  }
  & a {
    color: var(--teal);
    margin: 1rem 1.4rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #0f10109c;
    }
    &:first-of-type {
      color: var(--orange);
    }
    &:nth-of-type(2) {
      color: var(--pink);
    }
    &:nth-of-type(3) {
      color: var(--blue);
    }
    &:nth-of-type(4) {
      color: var(--teal);
    }
  }
} */
footer {
  width: 100vw;

  padding: 2rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--ff-link);
  font-size: 1.4rem;
  div {
    display: inline-flex;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 0 auto;
  }

  & h3 {
    color: var(--text);
    font-family: var(--ff-link);
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1rem;
  }
  & p {
    font-family: var(--ff-link);
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
  }
  & .logo-copy {
    width: 10%;
    padding: 1rem;
    margin: 1rem auto;
  }
  & a {
    margin: 1rem;
    text-decoration: none;
    transition: all 3s ease-in-out;
    @media (max-width: 600px) {
      font-size: 1rem;
      margin: 0.6rem;
    }
    &:hover {
      color: #2003032d;
    }
    &:first-of-type {
      color: var(--teal);
    }
    &:nth-of-type(2) {
      color: var(--blue);
    }
    &:nth-of-type(3) {
      color: var(--pink);
    }
    &:nth-of-type(4) {
      color: var(--orange);
    }
  }
}
