@import "fonts.css";
@import "reset.css";
@import "classes.css";
@import "grid.css";
@import "navbar.css";
/* @import "carousel.css"; */
:root {
  --ff-serif: "Noto Serif";
  --ff-accent: "Dosis";
  --ff-text: "Encode Sans";
  --ff-cursive: "Pacifico";
  --info: hsl(196, 80%, 70%);
  --success: hsl(170, 60%, 49%);
  --warning: hsl(26, 62%, 70%);
  --danger: hsl(6, 58%, 65%);
  --accent: hsl(337, 51%, 57%);
  --prim: hsl(196, 60%, 57%);
  --sec: hsl(170, 60%, 49%);
  --accenty: hsl(261, 68%, 62%);
  --primary: hsl(221, 46%, 61%);
  --secondary: hsl(195, 49%, 67%);
  --text-color-light: hsl(196, 60%, 84%);
  --text-color-dark: hsl(180, 23%, 3%);
  --background-dark: hsla(230, 59%, 8%, 0.692);
  --accent: hsl(324, 25%, 57%);
  --prim: hsl(196, 47%, 45%);
  --sec: hsl(170, 17%, 53%);
  --accenty: hsl(262, 21%, 46%);
  --background: hsl(231, 74%, 9%);
  --bg-button: hsl(238, 63%, 22%);
  --bg-button-hover: hsl(238, 55%, 28%);
  --border-button: hsl(238, 63%, 22%);
  --border-button-hover: hsl(238, 55%, 28%);
  --text-color: hsl(195, 33%, 86%);
  --link-color: hsl(201, 50%, 72%);
  --heading: hsl(196, 67%, 74%);
  --bg-trans: hsla(231, 74%, 9%, 0.575);
  --bg-box: hsl(225, 94%, 12%);
  --bg-card: hsla(247, 84%, 10%, 0.884);
  --border: 1px solid hsl(228, 90%, 15%);

  --background: hsl(213, 69%, 10%);
  --bg-button: hsl(205, 86%, 11%);
  --bg-button-hover: hsl(213, 69%, 10%);
  --border-button: hsl(205, 86%, 11%);
  --border-button-hover: hsl(212, 70%, 10%);
  --text-color: hsl(194, 11%, 77%);
  --link-color: hsl(200, 30%, 68%);
  --heading: hsl(200, 84%, 76%);
  --bg-trans: hsla(213, 69%, 10%, 0.5);
  --bg-box: hsla(213, 69%, 10%, 0.992);
  --bg-card: hsla(213, 69%, 10%, 0.753);
  --border: 1px solid hsl(213, 88%, 10%);

  --blue: rgb(61, 106, 255);
  --bll: hsl(238, 60%, 48%);

  --backdrop-filter: blur(10px);

  --gradient-45: linear-gradient(
    90deg,
    hsla(212, 64%, 11%, 0.884),
    hsla(211, 58%, 14%, 0.87),
    hsla(205, 86%, 11%, 0.842),
    hsla(213, 69%, 10%, 0.897)
  );
  --gradient-90: linear-gradient(
    90deg,
    hsla(205, 86%, 11%, 0.87),
    hsla(213, 69%, 10%, 0.945),
    hsla(212, 64%, 11%, 0.911),
    hsla(211, 58%, 14%, 0.87)
  );
  --box-shadow: 1px 2px 3px hsla(206, 70%, 17%, 0.719),
    -1px -2px 3px hsla(205, 87%, 12%, 0.808);
  --text-shadow: 1px 1px 1px hsl(205, 85%, 44%);

  @media (max-width: 600px) {
    --bg-image: url(/assets/img/colorbgDV.png);
  }
  @media (min-width: 601px) {
    --bg-image: url(/assets/img/colorbgDH.png);
  }
}
/* 
:root[data-theme="light"] {
  --alice-blue: #e6f5feff;
  --columbia-blue: #cbe8fbff;
  --columbia-blue-2: #c5e4faff;
  --columbia-blue-3: #ceebfcff;
  --lavender-web: #d4e3f9ff;
  --background: hsl(202, 71%, 86%);
  --text-color: hsl(196, 60%, 24%);
  --link-color: hsl(195, 57%, 63%);
  --heading: hsl(195, 66%, 69%);
  --bg-trans: hsla(200, 77%, 88%, 0.377);
  --bg-box: rgba(108, 174, 245, 0.829);
  --bg-card: rgba(148, 187, 250, 0.712);
  --border: 1px solid hsla(213, 69%, 22%, 0.76);

  --gradient: linear-gradient(
    45deg,
    hsl(195, 57%, 63%),
    hsl(199, 40%, 48%) ; hsl(200, 65%, 85%) ;
  );

  --box-shadow: 2px 3px 5px rgba(147, 191, 253, 0.836);
  --text-shadow: 1px 2px 2px rgba(1, 15, 27, 0.856);
  @media (max-width: 600px) {
    --bg-image: url(/assets/img/color4bg_light-vert.png);
  }
  @media (min-width: 601px) {
    --bg-image: url(/assets/img/color4bg_3.png);
  }
}
:root[data-theme="dark"] {
  --background: hsl(231, 74%, 9%);
  --bg-button: hsl(238, 63%, 22%);
  --bg-button-hover: hsl(238, 55%, 28%);
  --border-button: hsl(238, 63%, 22%);
  --border-button-hover: hsl(238, 55%, 28%);
  --text-color: hsl(195, 33%, 86%);
  --link-color: hsl(201, 50%, 72%);
  --heading: hsl(196, 67%, 74%);
  --bg-trans: hsla(231, 74%, 9%, 0.575);
  --bg-box: hsl(225, 94%, 12%);
  --bg-card: hsla(247, 84%, 10%, 0.884);
  --border: 1px solid hsl(228, 90%, 15%);

  --background: hsl(213, 69%, 10%);
  --bg-button: hsl(205, 86%, 11%);
  --bg-button-hover: hsl(213, 69%, 10%);
  --border-button: hsl(205, 86%, 11%);
  --border-button-hover: hsl(212, 70%, 10%);
  --text-color: hsl(194, 11%, 77%);
  --link-color: hsl(200, 30%, 68%);
  --heading: hsl(200, 84%, 76%);
  --bg-trans: hsla(213, 69%, 10%, 0.5);
  --bg-box: hsla(213, 69%, 10%, 0.992);
  --bg-card: hsla(213, 69%, 10%, 0.753);
  --border: 1px solid hsl(213, 88%, 10%);

  --blue: rgb(61, 106, 255);
  --bll: hsl(238, 60%, 48%);

  --backdrop-filter: blur(10px);

  --gradient-45: linear-gradient(
    90deg,
    hsla(212, 64%, 11%, 0.884),
    hsla(211, 58%, 14%, 0.87),
    hsla(205, 86%, 11%, 0.842),
    hsla(213, 69%, 10%, 0.897)
  );
  --gradient-90: linear-gradient(
    90deg,
    hsla(205, 86%, 11%, 0.87),
    hsla(213, 69%, 10%, 0.945),
    hsla(212, 64%, 11%, 0.911),
    hsla(211, 58%, 14%, 0.87)
  );
  --box-shadow: 1px 2px 3px hsla(206, 70%, 17%, 0.719),
    -1px -2px 3px hsla(205, 87%, 12%, 0.808);
  --text-shadow: 1px 1px 1px hsl(205, 85%, 44%);

  @media (max-width: 600px) {
    --bg-image: url(/assets/img/colorbgDV.png);
  }
  @media (min-width: 601px) {
    --bg-image: url(/assets/img/colorbgDH.png);
  }
} */

/* STYLING */
body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0 auto;
  font-family: var(--ff-text), sans-serif;
  font-weight: 500;
  color: var(--text-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-family: var(--ff-cursive);
  font-size: clamp(2.175rem, 5vw + 2vh, 80px);
  font-size: clamp(3rem, 4vw - 1vh + 2rem, 6rem);
  font-weight: 700;
  color: var(--heading);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-family: var(--ff-cursive);
  font-size: clamp(22px, 4vw + 2vh + 4rem, 60px);
  font-size: clamp(2rem, 6vw - 0.5vh + 2rem, 6rem);
  font-weight: 600;
  color: var(--heading);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
h3 {
  font-family: var(--ff-accent);
  font-size: clamp(1.725rem, 1rem + 1vw + 1vh, 2.725rem);
  font-size: clamp(1.5rem, 5vw - 0.5vh + 1.5rem, 4rem);

  font-weight: 500;
  color: var(--heading);
}
h4 {
  font-family: var(--ff-accent);
  font-size: clamp(1.325rem, 1rem + 1vw + 0.5vh, 2.225rem);
  font-size: clamp(1.25rem, 1.5vw - 0.25vh + 1.25rem, 3rem);
  font-weight: 400;
}
h5 {
  font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
}
h6 {
  font-size: clamp(0.875rem, 1.5vw + 1rem, 2rem);
}
p {
  font-family: var(--ff-text);
  font-size: clamp(1.125rem, 2vw + 1vh, 1.625rem);
  font-weight: 400;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
a:not(button) {
  font-family: var(--ff-accent);
  font-size: clamp(1.125rem, 1rem + 0.5vw + 0.5vh, 1.625rem);
  font-weight: 400;
  color: var(--link-color);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  :hover {
    color: var(--accent);
  }
}
/* button {
  display: block;
  min-width: 200px;
  min-height: 40px;
  background-color: var(--bg-button);
  color: var(--text-color);
  padding: 0.4rem 1.2rem;
  margin: 0.4rem auto;
  font-family: var(--ff-accent);
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  line-height: 1.5;
  border: var(--border);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  a {
    font-family: var(--ff-accent);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 1px;
    text-rendering: geometricPrecision;
    text-decoration: none;
    text-decoration-line: none;
    :hover {
      color: var(--text-color);
      text-shadow: 2px 1px 0px rgba(255, 255, 255, 0.041);
    }
    :active {
      color: var(--text-color);
    }
  }
  &:hover {
    border-style: outset;
    box-shadow: none;
    background: var(--bg-button-hover);
    opacity: 0.7;
    transform: scale(1.01);
  }
  &:active {
    border-style: inset;
    transform: scale(0.98);
    background: var(--gradient-90);
  }
} */

button {
  font-family: var(--ff-accent);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: geometricPrecision;
  color: var(--text-color);
  padding: 1rem 2rem;
  margin: 1rem auto;
  border: 1px solid rgb(61, 106, 255);
  border-radius: 8px;
  background: transparent;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  color: #ffffff;
  background: var(--blue);
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff;
  box-shadow: 0 0 5px var(--primary);
}

button:active {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

p.accent {
  font-family: var(--ff-accent);
  font-size: clamp(16px, 1rem + 0.5vw + 0.5vh, 24px);
  font-weight: 400;
  padding: 0.2rem;
  margin: 0 auto;
  text-align: center;
  color: var(--secondary);
}
@keyframes blink-down {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#home {
  height: 100%;
  @media (max-width: 600px) {
    height: auto;
  }
  h1.headline {
    z-index: 999;
    width: 100%;
    max-width: 100vw;
    padding: 1rem;
    margin: 0 auto;
    text-align: left;
    text-shadow: var(--text-shadow);
    background: transparent;
  }
  .intro {
    width: 90vw;
    padding: 1rem 2rem;
    margin: 0 auto;

    @media (max-width: 600px) {
      width: 96%;
    }
    h3 {
      font-size: clamp(1.4rem, 1.5rem + 1vw - 0.5vh, 2.5rem);
      color: var(--text-color);
      text-align: center;
      font-weight: 500;
    }
  }

  .scroll-btn {
    width: max-content;
    padding: 1rem;
    margin: 0 auto;
    transform: rotate(90deg);
    .home-scroll {
      letter-spacing: -8px;
      i {
        color: var(--text-color);
        font-size: 2rem;
        animation-name: blink-down;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        &:first-child {
          animation-delay: 0s;
        }
        &:last-child {
          animation-delay: 0.4s;
        }
      }
    }
  }
  #compare {
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    #example {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      img {
        filter: contrast(1.2) saturate(1.1);
      }
    }
    @media (max-width: 600px) {
      margin-top: 2rem;
      margin: 0;
      padding-bottom: 0;
    }
  }
}

#hero {
  padding: 0.4rem;
  margin: 0 auto;
  color: var(--text-color);
}
main {
  width: 100vw;
  padding: 0;
  margin: 0 auto;
}

#services {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    width: 80vw;
    padding: 1rem;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .card {
      position: relative;
      width: 30%;
      height: 100%;
      padding: 1.4rem 1rem;
      /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%); */
      background: var(--bg-card);
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: var(--border);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      @media (max-width: 600px) {
        width: 90%;
        margin: 1rem auto;
      }
      h4 {
        color: var(--heading);
        text-align: left;
      }
    }
  }
  .card img {
    height: 30%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    @media (max-width: 600px) {
      width: 70%;
      height: 25%;
      padding: 1rem;
    }
  }

  .card:hover {
    transform: rotate(-5deg) scale(1);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-box);
    border: var(--border);
  }

  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .card__content h4 {
    color: var(--heading);
    text-align: center;
  }

  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
  }

  .card__description_front {
    margin: 0;

    transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .card:hover .card__description_front {
    opacity: 0;
  }

  .card__description_back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 90%;
    margin: 10px 0 0;
    font-size: 14px;
    line-height: 1.4;
    ul {
      margin: 1rem auto;
      text-align: justify;
    }
    li {
      font-family: var(--ff-accent);
      font-size: 1.4rem;
      padding: 0.4rem 1.4rem;
      color: var(--text-color);
      text-align: center;
    }
  }

  .card:hover img {
    scale: 0;
    transform: rotate(-45deg);
  }
}

/* SKILLS */
#skills {
  h3 {
    color: var(--heading);
    font-weight: 500;
    font-size: clamp(1.8rem, 1.5rem + 2vw - 0.5vh, 2.8rem);
    text-align: center;
    padding: 1rem;
  }

  #skill-list {
    list-style: none;
    padding: 1rem;
    margin: 0 auto;
    @media (max-width: 600px) {
      padding: 1rem;
      margin: 0 auto;
    }
  }

  li.skill-item {
    margin: 1rem auto;
    font-family: var(--ff-accent);
    text-align: center;
    vertical-align: middle;
    font-size: clamp(1.5rem, 1.5rem + 1vw - 0.5vh, 2.5rem);
    line-height: 1.4;
    color: var(--text-color);
    overflow: hidden;
  }

  .skill-item i {
    padding: 1rem;
    margin: 0 1rem;
    margin-right: 1rem;
    @media (max-width: 600px) {
      padding: 0;
      margin: 0;
      margin-right: 1rem;
    }
  }

  .skill-item:nth-child(even) i {
    color: var(--sec);
  }
  .skill-item:nth-child(odd) i {
    color: var(--accent);
  }
  .skill-item:first-child i {
    color: var(--prim);
  }
  .skill-item:last-child i {
    color: var(--accenty);
  }
  .skill-item:nth-child(5n) i {
    color: var(--accenty);
  }
  .skill-item:nth-child(6n) i {
    color: var(--sec);
  }
}

#project-cards {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  @media (max-width: 783px) {
    width: 90%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    @media (max-width: 600px) {
      width: 95%;
      padding: 1rem;
    }
  }

  figure {
    width: 800px;
    height: 600px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 17, 38, 0.61);
    border-radius: 10px;
    border: 1px solid rgb(1, 20, 49);

    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    @media (max-width: 600px) {
      width: 100%;
      aspect-ratio: 4 / 3;
      height: auto;
    }
  }
  figure .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.08) 5%,
      rgba(0, 0, 0, 0.25) 15%,
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.7) 60%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 999;
    transition: all 0.25s ease;
  }
  figure .banner i {
    color: var(--text-color-light);
    font-size: 2rem;
    padding: 0.2rem;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
    z-index: 999;
  }
  figure .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 0.2rem;
    z-index: 999;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.08) 5%,
      rgba(0, 0, 0, 0.25) 15%,
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.7) 60%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 1) 100%
    );
    transition: all 0.25s ease;
    transform: scale(1);
  }
  figure .footer h2 {
    font-family: var(--ff-accent);
    font-weight: 600;
    color: var(--text-color-light);
    font-size: 1.8rem;
    padding: 0.4rem;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
    display: contents;
  }
  figure .footer h3 {
    font-family: var(--ff-accent);
    color: var(--text-color-light);
    font-size: 1.4rem;
    padding: 0.4rem;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
  }

  figure:hover .banner {
    top: -20%;
  }
  figure:hover .footer {
    bottom: -20%;
  }
  figure:hover {
    border: 1px solid rgba(1, 11, 27, 0.877);
    box-shadow: 0 14px 28px rgba(10, 1, 12, 0.336),
      0 10px 10px rgba(2, 1, 20, 0.801);
  }
  figure:hover .footer h2 {
    opacity: 0;
    transform: scale(0.7);
  }
  figure:hover .footer h3 {
    opacity: 0;
    transform: scale(0.7);
  }
  figure:hover .banner i {
    opacity: 0;
    transform: scale(0.7);
  }
  figure:hover img.project-img {
    transform: scale(1.25);
    filter: blur(2px);
    bottom: 34%;
  }
  figure:hover figcaption {
    bottom: 0;
    opacity: 1;
    height: 60%;
    background: rgba(1, 2, 27, 0.781);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.226);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    @media (max-width: 600px) {
      height: 100%;
    }
  }

  figure img.project-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: 0.25s;
  }
  figure figcaption {
    position: absolute;
    bottom: -40%;
    left: 0;
    opacity: 0;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    line-height: 1;
    transition: 0.25s;
    @media (max-width: 600px) {
      padding: 0.8rem;
    }
  }

  figure figcaption p {
    color: var(--text-color-light);
    font-size: 1rem;
    text-align: left;
    padding: 1rem;
    margin: 0 auto;
    line-height: 1.5;
  }
  figure .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    button {
      width: 45%;
      padding: 0.8rem 0.2rem;
      margin: 0 auto;
      background: var(--bg-trans);

      text-transform: none;
      :hover {
        background-color: transparent;
        color: var(--text-color-light);
      }
      a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--text-color);
      }
      a:hover {
        color: var(--text-color-light);
      }
    }
  }
}
#contact {
  & form {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--ff-accent);
    @media (max-width: 783px) {
      width: 90%;
    }
    @media (max-width: 600px) {
      width: 95%;
    }

    & :is(input, textarea) {
      width: 100%;
      padding: 0.4rem;
      margin: 1rem 0;
      border: 2px solid var(--info);
      border-radius: 5px;
      font-family: var(--ff-text);
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--text-color) !important;
      background-color: var(--background) !important;
      box-shadow: var(--box-shadow);
      &:focus,
      &:active {
        border: 2px solid var(--info);
      }
      &:placeholder-shown {
        border: 2px solid var(--info);
      }
      &:not(:placeholder-shown) {
        &:focus:invalid {
          border: 2px solid var(--warning);
        }
        &:invalid {
          border: 2px solid var(--danger);
        }
        &:valid {
          border: 2px solid var(--success);
        }
      }
      &::placeholder {
        font-style: italic;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 100px var(--background) inset !important;
        background-color: var(--background) !important;
        -webkit-text-fill-color: var(--text-color) !important;
      }
    }
    & textarea {
      resize: none;
    }
    .checkbox input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid currentColor;
      border-radius: 0.15em;
      transform: translateY(-0.075em);
      margin-top: 1rem;
      display: inline-grid;
      place-content: center;
      border: 2px solid var(--info);
      &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms all ease-in-out;
        box-shadow: inset 1em 1em var(--background);
      }
      &:checked::before {
        transform: scale(1);
        box-shadow: inset 1em 1em var(--success);
      }
      &:checked {
        border: 2px solid var(--success);
      }
    }
    & button {
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: all 0.4s;
      cursor: pointer;
      & span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }
      & svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      &:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      &:active svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      &:active span {
        transform: translateX(5em);
      }
      &:active {
        transform: scale(0.95);
      }
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }

        to {
          transform: translateY(-0.1em);
        }
      }
    }
    & label {
      font-family: var(--ff-accent);
      font-size: 1.4rem;
      font-weight: 550;
      color: var(--text-color);
      &[for="agree"] {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}
footer {
  width: 100vw;
  min-height: 30vh;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  /*  min-height: 30vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-dark);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  color: var(--text-color-light);
  font-family: var(--ff-accent);
  font-size: 1.4rem;
  @media (max-width: 600px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
  }
  & img {
    width: 4rem;
    height: 4rem;
  }
  & h3 {
    color: var(--text-color-light);
    font-family: var(--ff-accent);
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem;
  }
  & p {
    font-family: var(--ff-accent);
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  & a {
    margin: 1rem;
    text-decoration: none;
    transition: all 3s ease-in-out;
    @media (max-width: 600px) {
      font-size: 1rem;
    }
    &:hover {
      color: #0f10109c;
    }
    &:first-of-type {
      color: var(--accent);
    }
    &:nth-of-type(2) {
      color: var(--prim);
    }
    &:nth-of-type(3) {
      color: var(--sec);
    }
    &:nth-of-type(4) {
      color: var(--accenty);
    }
  }
}
.glide {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  justify-items: stretch;

  @media (max-width: 600px) {
    width: 100%;
  }
  .glide__track {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 1rem auto;
    overflow: hidden;
  }
  .glide__slides {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    .glide__slide {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      justify-items: stretch;
      white-space: normal;
      user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      background: var(--bg-trans);
      border: var(--border);
      box-shadow: var(--box-shadow);
      height: 100%;
      padding: 1.4rem;
      border-radius: 10px;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .glide__slide:hover {
      box-shadow: var(--box-shadow);
      background-color: var(--prim);
      border: var(--border);
    }
    p {
      height: 80%;
      font-family: var(--ff-accent);
      height: auto;
      font-size: 1.4rem;
      margin: 0 auto;
      text-align: justify;
      @media screen and (max-width: 767px) {
        font-size: 1.2rem;
      }
    }
    h3 {
      height: 20%;
      font-size: 1.4rem;
      font-weight: 600;
      padding: 0;
      margin: 0 auto;
      text-align: center;
    }
  }
  .glide__bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%) translateY(30px);
  }
  .glide__bullet {
    background-color: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin: 0.25em;
  }
  .glide__bullet:focus {
    outline: none;
  }
  .glide__bullet:hover,
  .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
