@import url(".fonts.css");
@import url("./reset.css");
@import url("./utils.css");

:root {

  --off-white: hsl(22, 15%, 90%);
  --off-white-cold: hsl(120, 15%, 95%);
  --off-white-warm: hsl(20, 32%, 90%);

  --gray: hsl(120, 18%, 78%);
  --gray-1: hsl(120, 5%, 70%);
  --gray-2: hsl(120, 5%, 80%);
  --gray-3: hsl(120, 5%, 90%);

  --neutral: hsl(22, 51%, 81%);
  --neutral-1: hsl(22, 31%, 60%);
  --neutral-2: hsl(22, 31%, 65%);
  --neutral-3: hsl(22, 31%, 75%);

  --neutral-dark: hsl(22, 31%, 5%);
  --neutral-dark: hsl(22, 25%, 3%);

  --off-black-lt: hsl(120, 1%, 3%);
  --off-black: hsl(120, 1%, 1%);
  --off-black-warm: hsl(22, 15%, 3%);

  --primary: hsl(205, 28%, 40%);
  --primary-light: hsl(205, 28%, 55%);
  --primary-dark: hsl(205, 28%, 35%);
  --secondary: #420039;
  --secondary-light: hsl(308, 30%, 33%);
  --secondary-dark: hsl(308, 60%, 10%);
  --ternary: #5a3a31;
  --ternary-light: hsl(13, 25%, 35%);
  --ternary-dark: hsl(284, 29%, 20%);

  --off-white: #e9e4e2;
  --gray: #bdd1bd;
  --neutral: #e7c8b6;
  --off-black: #030303;
  --primary: #496b83;
  --secondary: #420039;
  --ternary: #5a3a31;

  --c1: var(--off-white-cold);
  --c2: var(--off-black-warm);
  --c3: var(--gray);
  --c4: var(--off-white);
  --c5: var(--primary-dark);
  --c6: var(--ternary-dark);
  --c7: var(--secondary-light);

  --a1: #F5F5DC;
  --a2: #FFC67D;
  --a3: #1ABC9C;

  --b1: #071529;
  --b2: #F7DC6F;
  --b3: #660066;

  --d1: #a490d3;
  --d2: #f5f8cc;


  --clr-bg: var(--c1);
  --clr-bg-nav: var(--c7) 
  --clr-bg-card: var(--c6);
  --clr-bg-card-hover: var(--c7);
  --clr-bg-button: var(--c7);
  --clr-bg-button-hover: var(--c6);
  --clr-border: var(--c7);
  --clr-border-alt: var(--d1);
  --clr-text: var(--c2);
  --clr-text-nav: var(--c4);
  --clr-heading: var(--c5);
  --clr-text-card: var(--c4);
  --clr-text-card-alt: var(--c3);
  --clr-text-card-heading: var(--c3);
  --clr-text-link: var(--c5);
  --clr-text-link-hover: var(--c6);
  --clr-text-button: var(--c4);
  --clr-text-button-hover: var(--c1);

  --gradient-metallic: linear-gradient(120deg, #420039ff, #BDD1BDff, #E7C8B6ff, #496a81ff, #5a3a31ff);

  --ff-sans: "Kreon";
  --ff-serif: "Spectral";
  --ff-serif-alt: "NewStandard";
  --ff-half-serif: "Kreon";
  --ff-cursive: "Redressed";
  --ff-display: "Pharmacy";
  --ff-upper: "Migha";

--gray: hsl(120, 18%, 78%);
--gray-1: hsl(120, 5%, 70%);
--gray-2: hsl(120, 5%, 80%);
--gray-3: hsl(120, 5%, 90%);

--neutral: hsl(22, 51%, 81%);
--neutral-1: hsl(22, 31%, 60%);
--neutral-2: hsl(22, 31%, 65%);
--neutral-3: hsl(22, 31%, 75%);

--neutral-dark: hsl(22, 31%, 5%);
--neutral-dark: hsl(22, 25%, 3%);

--off-black-lt: hsl(120, 1%, 3%);
--off-black: hsl(120, 1%, 1%);
--off-black-warm: hsl(22, 15%, 3%);

--primary: hsl(205, 28%, 40%);
--primary-light: hsl(205, 28%, 55%);
--primary-dark: hsl(205, 28%, 35%);
--secondary: #420039;
--secondary-light: hsl(308, 30%, 33%);
--secondary-dark: hsl(308, 60%, 10%);
--ternary: #5a3a31;
--ternary-light: hsl(13, 25%, 35%);
--ternary-dark: hsl(13, 29%, 20%);

--off-white: #e9e4e2;
--gray: #bdd1bd;
--neutral: #e7c8b6;
--off-black: #030303;
--primary: #496b83;
--secondary: #420039;
--ternary: #5a3a31;

--black: hsla(158, 8%, 20%, 1);
--white: hsla(39, 100%, 88%, 1);
--prim: hsla(8, 70%, 56%, 1);
--accent: hsla(336, 80%, 28%, 1);
--second: hsla(272, 21%, 24%, 1);

--sunset: #e8ca89ff;
--dark-slate-gray: #405c64ff;
--dark-purple: #2d222fff;
--alabaster: #dfe5dcff;
--antique-white: #fdebd9ff;
--sage: #a5b295ff;

--clr-bg: var(--sunset);
--clr-bg-nav: var(var(--dark-purple))
--clr-bg-card: var(var(--dark-slate-gray));
--clr-bg-card-hover: #F5F5F5;
--clr-bg-button: var(--dark-purple);
--clr-bg-button-hover: var(--dark-slate-gray);
--clr-border: var(--dark-purple);  
--clr-border-alt: var(--dark-slate-gray);
--clr-text: var(--off-black);
--clr-text-nav: var(--alabaster);
--clr-heading: var(--secondary);
--clr-text-card: var(--off-black);
--clr-text-card-alt: var(--black);
--clr-text-card-heading: var(--sage);
--clr-text-link: var(--prim);
--clr-text-link-hover: var(--primary-dark);
--clr-text-button: var(--sage);
--clr-text-button-hover: var(--alabaster);


  --ff-serif: "Spectral";
  --ff-serif-alt: "NewStandard";
  --ff-sans-serif: "Superior";
  --ff-cursive: "Redressed";
  --ff-display: "Pharmacy";
  --ff-display-alt: "UniquaOne";
  --ff-upper: "Migha";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: var(--ff-half-serif), system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--clr-text);
  background-color: var(--clr-bg);

}

header {
  position: sticky;
  top: 0;
  z-index: 1000;

  color: var(--clr-bg);
  background-image: linear-gradient(90deg, #420039ff, #BDD1BDff, #E7C8B6ff, #496a81ff, #5a3a31ff);
}

/* ANIMATION: PART OF HEADER WILL "VANISH" ON SCROLL ANIMATION */
/* CSS */
header .decorative-break {
  width: 100vw;
  color: var(--off-black);
  transition: opacity 1.5s;
}

header .decorative-break.hide {
  opacity: 0;
}

header .decorative-break.small {
  height: 11px;
}

header .sticky-part {
  position: sticky;
  top: 0;
}

h1,
h2,
h3,
h4, h5, h6 {

  padding: 1rem;
  margin: 1rem auto;
}

h1 {
  font-size: calc(3rem + 3vw - 2vh);
}
h2 {
  font-size: calc(2rem + 2vw - 1vh);
}
h3 {
  font-size: calc(1.5rem + 1vw - 1vh);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 10vw;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li a {
  font-family: var(--ff-upper), monospace;
  font-size: 2rem;
  color: var(--clr-text-nav);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  margin: 0 2rem;
  transition: all 0.3s;
}
.nav-links li a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgb(35, 79, 144);
}
.burger-menu {
  font-size: 1.2rem;
  color: var(--clr-text-nav);
  display: none;
  cursor: pointer;
}
.burger-menu:hover {
  color: var(--clr-text-link);
}

.mobile-navbar {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  background-color: var(--clr-bg-nav);
  color: var(--clr-text-link);
  z-index: 1000;
  transition: left 0.3s;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.mobile-nav-links {
  margin-top: 3rem;
  padding: 0 1.2rem;
  list-style: none;
}

.mobile-nav-links li {
  font-family: var(--ff-upper), sans-serif;
}

.mobile-nav-links a {
  display: block;
  padding: 1rem 0;
}

.main-heading {
  font-family: var(--ff-display), cursive;
  font-size: clamp(3em, 4em + 3vw - 2vh, 6rem);
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 30ch;
}
.sub-heading {
  font-family: var(--ff-cursive), serif;
}
.hero-section {
  font-family: var(--ff-cursive), cursive;
  background-color: var(--clr-bg-card);
  padding: 5rem 2rem;
  text-align: left;
  position: relative;
}

.hero-content {
  max-width: 90vw;
  width: clamp(600px, 80%, 90vw);
  margin: 0 auto;
}

.hero-content h2 {
  font-size: 3rem;
  color: var(--clr-heading);
}

.hero-content p {
  font-size: 1.2rem;
  color: var(--clr-text);
  margin-top: 20px;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--clr-bg-button);
  color: var(--clr-text-button);
  text-decoration: none;
  border-radius: 25px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: var(--clr-bg-button-hover);
  color: var(--clr-text-button-hover);
}

.hero-illustration {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  max-width: 300px;
  width: 100%;
}
.services-section {
  padding: 80px 20px;
  text-align: center;
}

.section-heading {
  font-size: calc(2rem + 2vw - 1vh);
  color: var(--clr-heading);
  margin-bottom: 1.2rem;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  @media (max-width: 789px) {
    flex-direction: column;
    width: 90%;
  }
}

.service-card {
  width: 30%;
  height: 400px;
  perspective: 1000px;
  position: relative;
  margin: 1rem auto;

}
.service-card img {
  object-fit: cover;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto;
}

.service-front,
.service-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  background-color: var(--clr-border);
  
  border: 3px solid var(--clr-border-alt);
  border-radius: 10px;
  padding: 20px;
}

.service-back {
  transform: rotateY(-180deg);
}

.service-card:hover .service-front {
  transform: rotateY(180deg);
}

.service-card:hover .service-back {
  transform: rotateY(0deg);
}

.service-front h3 {
  font-family: var(--ff-upper);
  font-size: 1.6rem;
  color: var(--clr-text-card-heading);
}

.service-front p {
  font-size: 1rem;
  color: var(--clr-bg-card);
}
.service-imgs {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.service-imgs img {
  width: 30%;
}
.service-front img {
  object-fit: cover;
  border: 4px solid var(--clr-border-alt);
  background-color: var(--clr-bg-card);
  border-radius: 10px;
  padding: 0rem;
  margin: 1rem auto;
}

.service-back ul {
  list-style: none;
  padding: 0;
  color: var(--clr-text-card);
}

.service-back li {
  margin-bottom: 5px;
}
.projects-section {
  padding: 80px 20px;
  text-align: center;
}
.section-heading {
  font-size: 2rem;
  color: var(--clr-heading-dark);
  margin-bottom: 40px;
}
.project-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 1rem;
  scrollbar-color: yellow blue;
  scrollbar-3dlight-color: #00b8a9;
  scrollbar-track-color: #ffc371;
  scrollbar-arrow-color: red;
  scrollbar-base-color: purple;
  scrollbar-face-color: green;
  scrollbar-darkshadow-color: palevioletred;
  scrollbar-gutter: coral;
  scrollbar-highlight-color: cyan;
  ::-webkit-scrollbar {
    background-color: red;
    width: 1em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(70, 223, 10, 0.867);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(229, 42, 42);
  }

  gap: 20px;
  padding: 20px;
}
.project-item {
  flex: 0 0 60vw;
  scroll-snap-align: start;
  background: var(--clr-bg-button);
  padding: 20px;
  border: 1px solid var(--clr-border-alt);
  border-radius: 10px;

}
.project-item img {
  width: 60%;
  max-width: 100%;
  border-radius: 10px;
}
.technology-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}
.technology-icons img {
  width: 48px;
  height: 48px;
}

.project-item h3 {
  font-size: 1.5rem;
  color: var(--clr-heading-light);
  margin: 10px 0;
}
.project-item p {
  font-size: 1rem;
  color: var(--clr-text-card);
}
.project-item ul {
  list-style: none;
  align-items: left;
  text-align: left;
  padding: 1rem;
}
.project-item ul li {
  margin-bottom: 5px;
}
/* Add more styling as needed */
.contact-section {
  text-align: center;
  padding: 80px 20px;
}
.contact-form {
  margin: 0 auto;
  max-width: 400px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--clr-border-alt);
  border-radius: 5px;
}
#contact button {
  padding: 10px 20px;
  background: var(--clr-bg-button);
  color: var(--clr-text-button);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
#contact button:hover {
  background: var(--clr-bg-button-hover);
  color: var(--clr-text-button-hover);
  transform: rotate3d(1, 1, 1, 10deg);
}

.bodoni-ornaments {
  font-family: "Bodoni";
  font-size: 60px;
}
.hoefler-ornaments {
  font-family: "Hoefler";
  font-size: 60px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.social-links img {
  width: 60px;

  margin: 0 auto;
  border: 1px solid red;
}
/* OVERLAY */
.overlay-container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlay-container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

h3 {
  font-size: calc(1.5rem + 1vw - 1vh);
}
header h1{
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #420039ff, #BDD1BDff, #E7C8B6ff, #496a81ff, #5a3a31ff);
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 10vw;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li a {
  font-family: var(--ff-upper), monospace;
  font-size: 2rem;
  color: var(--clr-text-nav);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  margin: 0 2rem;
  transition: all 0.3s;
}
.nav-links li a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgb(35, 79, 144);
}
.burger-menu {
  font-size: 1.2rem;
  color: var(--clr-text-nav);
  display: none;
  cursor: pointer;
}
.burger-menu:hover {
  color: var(--clr-text-link);
}

.mobile-navbar {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  background-color: var(--clr-bg-nav);
  color: var(--clr-text-link);
  z-index: 1000;
  transition: left 0.3s;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.mobile-nav-links {
  margin-top: 3rem;
  padding: 0 1.2rem;
  list-style: none;
}

.mobile-nav-links li {
  font-family: var(--ff-upper), sans-serif;
}

.mobile-nav-links a {
  display: block;
  padding: 1rem 0;
}

.main-heading {
  font-family: var(--ff-display), cursive;
  font-size: clamp(3em, 4em + 3vw - 2vh, 6rem);
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 30ch;
}
.sub-heading {
  font-family: var(--ff-cursive), serif;
}

.hero-section {
  font-family: var(--ff-cursive), cursive;
  background-color: var(--clr-bg-card);
  padding: 5rem 2rem;
  text-align: left;
  position: relative;
}

.hero-content {
  max-width: 90vw;
  width: clamp(600px, 80%, 90vw);
  margin: 0 auto;
}

.hero-content h2 {
  font-size: 3rem;
  color: var(--clr-heading);
}

.hero-content p {
  font-size: 1.2rem;
  color: var(--clr-text);
  margin-top: 20px;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--clr-bg-button);
  color: var(--clr-text-button);
  text-decoration: none;
  border-radius: 25px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: var(--clr-bg-button-hover);
  color: var(--clr-text-button-hover);
}

.hero-illustration {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  max-width: 300px;
  width: 100%;
}

.services-section {
  padding: 80px 20px;
  text-align: center;
}

.section-heading {
  font-size: calc(2rem + 2vw - 1vh);
  color: var(--clr-heading);
  margin-bottom: 1.2rem;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  @media (max-width: 789px) {
    flex-direction: column;
    width: 90%;
  }
}




.service-card {
  width: 30%;
  height: 400px;
  perspective: 1000px;
  position: relative;
  margin: 1rem auto;

}
.service-card img {
  object-fit: cover;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto;
}

.service-front,
.service-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  background-color: var(--c2);

  border: 3px solid var(--c4);
  border-radius: 10px;
  padding: 20px;
}

.service-back {
  transform: rotateY(-180deg);
}

.service-card:hover .service-front {
  transform: rotateY(180deg);
}

.service-card:hover .service-back {
  transform: rotateY(0deg);
}

.service-front h3 {
  font-family: var(--ff-upper);
  font-size: 1.6rem;
  color: var(--clr-text-card-heading);
}

.service-front p {
  font-size: 1rem;
  color: var(--clr-bg-card);
}
.service-imgs {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.service-imgs img {
  width: 30%;
}
.service-front img {
  object-fit: cover;
  border: 4px solid var(--clr-border-alt);
  background-color: var(--clr-bg-card);
  border-radius: 10px;
  padding: 0rem;
  margin: 1rem auto;
}

.service-back ul {
  list-style: none;
  padding: 0;
  color: var(--clr-text-card);
}

.service-back li {
  margin-bottom: 5px;
}
.projects-section {
  padding: 80px 20px;
  text-align: center;
}

.section-heading {
  font-size: 2rem;
  color: var(--clr-heading-dark);
  margin-bottom: 40px;
}
.project-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 1rem;
  scrollbar-color: yellow blue;
  scrollbar-3dlight-color: #00b8a9;
  scrollbar-track-color: #ffc371;
  scrollbar-arrow-color: red;
  scrollbar-base-color: purple;
  scrollbar-face-color: green;
  scrollbar-darkshadow-color: palevioletred;
  scrollbar-gutter: coral;
  scrollbar-highlight-color: cyan;
  ::-webkit-scrollbar {
    background-color: red;
    width: 1em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(70, 223, 10, 0.867);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(229, 42, 42);
  }

  gap: 20px;
  padding: 20px;
}
.project-item {
  flex: 0 0 60vw;
  scroll-snap-align: start;
  background: var(--clr-bg-button);
  padding: 20px;
  border: 1px solid var(--clr-border-alt);
  border-radius: 10px;

}
.project-item img {
  width: 60%;
  max-width: 100%;
  border-radius: 10px;
}
.technology-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}
.technology-icons img {
  width: 48px;
  height: 48px;
}

.project-item h3 {
  font-size: 1.5rem;
  color: var(--clr-heading-light);
  margin: 10px 0;
}
.project-item p {
  font-size: 1rem;
  color: var(--clr-text-card);
}
.project-item ul {
  list-style: none;
  align-items: left;
  text-align: left;
  padding: 1rem;
}
.project-item ul li {
  margin-bottom: 5px;
}
/* Add more styling as needed */
.contact-section {
  text-align: center;
  padding: 80px 20px;
}
.contact-form {
  margin: 0 auto;
  max-width: 400px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--clr-border-alt);
  border-radius: 5px;
}
#contact button {
  padding: 10px 20px;
  background: var(--clr-bg-button);
  color: var(--clr-text-button);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
#contact button:hover {
  background: var(--clr-bg-button-hover);
  color: var(--clr-text-button-hover);
  transform: rotate3d(1, 1, 1, 10deg);
}

.bodoni-ornaments {
  font-family: "Bodoni";
  font-size: 60px;
}
.hoefler-ornaments {
  font-family: "Hoefler";
  font-size: 60px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.social-links img {
  width: 60px;

  margin: 0 auto;
  border: 1px solid red;
}
/* OVERLAY */
.overlay-container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlay-container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
h2 {
  font-size: calc(2rem + 2vw - 1vh);

}

h3 {
  font-size: calc(1.5rem + 1vw - 1vh);
} 
p {
  font: 1.2rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 80ch;
  max-width: 90vw;
}
/* UTIL CLASSES */
.ff-cursive {
  font-family: var(--ff-cursive), fantasy;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-display {
  font-family: var(--ff-display), fantasy;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-bold {
  font-family: "Tilt Warp";
  font-size: calc(1.5rem + 1vw - 1vh);
  font-weight: 400;
}
.ff-sans {
  font-family: var(--ff-sans), sans-serif;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-serif {
  font-family: var(--ff-serif), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-retro {
  font-family: var(--ff-retro), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
  font-weight: 500;
}
.ff-floral {
  font-family: var(--ff-floral), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
  font-weight: 400;
}
.ff-uppercase {
  font-family: var(--ff-upper), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-condensed {
  font-family: var(--ff-condensed), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
  font-weight: 500;
}
.ff-noto-sans {
  font-family: var(--ff-noto-sans), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-noto-serif {
  font-family: var(--ff-noto-serif), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-noto-sans-con {
  font-family: var(--ff-noto-sans-con), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-noto-serif-con {
  font-family: var(--ff-noto-serif-con), cursive;
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-size-1 {
  font-size: calc(1.5rem + 1vw - 1vh);
}
.ff-size-2 {
  font-size: calc(1.5rem + 1vw + 1vh);
}
.ff-size-3 {
  font-size: calc(1.5rem - 1vw + 1vh);
}
.ff-size-4 {
  font-size: calc(4rem + 4vw - 3vh);
}
.ff-size-5 {
  font-size: calc(5rem + 5vw - 4vh);
}
p.slidein {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
/* HEADER STYLING */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: var(--clr-text-nav);
  background-color: var(--clr-bg-nav);
}
header .sticky-part {
  position: sticky;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
}
.logo img {
  width: 10vw;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li a {
  font-family: var(--ff-display-alt), monospace;
  font-size: 2rem;
  color: var(--clr-text-nav);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  margin: 0 2rem;
  transition: all 0.3s;
}

.nav-links li a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgb(35, 79, 144);
}

.burger-menu {
  font-size: 1.2rem;
  color: var(--clr-text-nav);
  display: none;
  cursor: pointer;
}

.burger-menu:hover {
  color: var(--clr-text-link);
}

.mobile-navbar {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  background-color: var(--clr-bg-nav);
  color: var(--clr-text-link);
  z-index: 1000;
  transition: left 0.3s;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.mobile-nav-links {
  margin-top: 3rem;
  padding: 0 1.2rem;
  list-style: none;
}

.mobile-nav-links li {
  font-family: var(--ff-upper), sans-serif;
}

.mobile-nav-links a {
  display: block;
  padding: 1rem 0;
}

.landscape-3d {
  height: 100vh;
  width: 100vw;
}

/* HOME STYLING */

#home h2{
  width: 80%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #420039ff, #BDD1BDff, #E7C8B6ff, #496a81ff, #5a3a31ff);
}
#home p {
  width: 80%;
  padding: 1rem;
  margin: 1rem auto;
  text-align: justify;

}

.main-heading {
  font-family: var(--ff-display), cursive;
  font-size: clamp(3em, calc(4em + 3vw - 2vh), 6rem);
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 30ch;
}

.sub-heading {
  font-family: var(--ff-cursive), serif;
}
.text-heading {
  font-family: var(--ff-retro), fantasy;
  font-weight: 500;
  font-size: calc(2.4rem + 2vw - 2vh);
  text-align: justify;
}

.hero-section {
  font-family: var(--ff-cursive), cursive;
  background-color: var(--clr-bg-card);
  padding: 5rem 2rem;
  text-align: left;
  position: relative;
}

.hero-content {
  max-width: 90vw;
  width: clamp(600px, 80%, 90vw);
  margin: 0 auto;
}

.hero-content h2 {
  font-size: 3rem;
  color: var(--clr-heading);
}

.hero-content p {
  font-size: 1.2rem;
  color: var(--clr-text);
  margin-top: 20px;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--clr-bg-button);
  color: var(--clr-text-button);
  text-decoration: none;
  border-radius: 25px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: var(--clr-bg-button-hover);
  color: var(--clr-text-button-hover);
}

.hero-illustration {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  max-width: 300px;
  width: 100%;
}
/* SERVICES STYLING */
.services-section {
  padding: 80px 20px;
  text-align: center;
}

.section-heading {
  font-size: calc(2rem + 2vw - 1vh);
  color: var(--clr-heading);
  margin-bottom: 1.2rem;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  @media screen and (min-width: 768px) {
  flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}
th, td {
  border: 1px solid black;
  border-radius: 10px;
}
.tab {
  max-width: 500px;
  margin: 25px auto;
  }
  .tab-list {
  display: flex;
  gap: 12px;
  background-color: #eee;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 20px;
  }
  .tab-item {
  flex: 1;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: inherit;
  }
  .tab-item:hover {
  background-color: #fafafa;
  }
  .tab-item.is-active {
  color: white;
  background-color: #6a5af9;
  }
  .tab-content {
  background-color: #eee;
  padding: 20px;
  border-radius: 6px;
  }


.service-card {
  width: 30%;
  height: 400px;
  perspective: 1000px;
  position: relative;
  margin: 1rem auto;

}

.service-card img {
  object-fit: cover;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto;
}

.service-front,
.service-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  background-color: var(--clr-bg-card);
  border: 3px solid var(--c4);
  border-radius: 10px;
  padding: 20px;
}

.service-back {
  transform: rotateY(-180deg);
}

.service-card:hover .service-front {
  transform: rotateY(180deg);
}

.service-card:hover .service-back {
  transform: rotateY(0deg);
}

.service-front h3 {
  font-family: var(--ff-upper);
  font-size: 1.6rem;
  color: var(--clr-text-card-heading);
}

.service-front p {
  width: 90%;
  font-size: 1rem;
  color: var(--clr-bg-card);
}

.service-imgs {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.service-imgs img {
  width: 30%;
}

.service-front img {
  object-fit: cover;
  border: 4px solid var(--clr-border-alt);
  background-color: var(--clr-bg-card);
  border-radius: 10px;
  padding: 0rem;
  margin: 1rem auto;
}

.service-back ul {
  list-style: none;
  padding: 0;
  color: var(--clr-text-card);
}

.service-back li {
  margin-bottom: 5px;
}

.projects-section {
  padding: 80px 20px;
  text-align: center;
}

/* OVERLAY */
.overlay-container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlay-container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}