@import "fonts.css";
@import "reset.css";
@import "classes.css";
@import "grid.css";
@import "navbar.css";
:root {
  --ff-serif: "Noto Serif";
  --ff-accent: "Dosis";
  --ff-text: "Encode Sans";
  --ff-cursive: "Pacifico";
  --info: hsl(196, 80%, 70%);
  --success: hsl(170, 60%, 49%);
  --warning: hsl(26, 62%, 70%);
  --danger: hsl(6, 58%, 65%);
  --accent: hsl(337, 51%, 57%);
  --prim: hsl(196, 60%, 57%);
  --sec: hsl(170, 60%, 49%);
  --accenty: hsl(261, 68%, 62%);
  --primary: hsl(221, 46%, 61%);
  --secondary: hsl(195, 49%, 67%);
  --text-color-light: hsl(196, 60%, 84%);
  --text-color-dark: hsl(180, 23%, 3%);
  --background-dark: hsla(230, 59%, 8%, 0.692);
}

:root[data-theme="light"] {
  --alice-blue: #e6f5feff;
  --columbia-blue: #cbe8fbff;
  --columbia-blue-2: #c5e4faff;
  --columbia-blue-3: #ceebfcff;
  --lavender-web: #d4e3f9ff;
  --background: hsl(202, 71%, 86%);
  --text-color: hsl(196, 60%, 24%);
  --link-color: hsl(195, 57%, 63%);
  --heading: hsl(195, 66%, 69%);
  --bg-trans: hsla(200, 77%, 88%, 0.377);
  --bg-box: rgba(108, 174, 245, 0.829);
  --bg-card: rgba(148, 187, 250, 0.712);
  --border: 1px solid hsla(213, 69%, 22%, 0.76);

  --gradient: linear-gradient(
    45deg,
    hsl(195, 57%, 63%),
    hsl(199, 40%, 48%) ; hsl(200, 65%, 85%) ;
  );

  --box-shadow: 2px 3px 5px rgba(147, 191, 253, 0.836);
  --text-shadow: 1px 2px 2px rgba(1, 15, 27, 0.856);
  @media (max-width: 600px) {
    --bg-image: url(/assets/img/color4bg_light-vert.png);
  }
  @media (min-width: 601px) {
    --bg-image: url(/assets/img/color4bg_light-horiz-lg.png);
  }
}
:root[data-theme="dark"] {
  --oxford-blue: hsl(247, 84%, 10%);
  --oxford-blue-2: hsl(238, 76%, 10%);
  --oxford-blue-3: hsl(231, 74%, 9%);
  --oxford-blue-4: hsl(229, 80%, 12%);
  --oxford-blue-5: hsl(230, 79%, 11%);
  --penn-blue: hsl(225, 94%, 12%);
  --penn-blue-2: hsl(228, 90%, 12%);
  --oxford-blue: hsl(232, 85%, 11%);
  --oxford-blue-2: hsl(248, 87%, 9%);
  --oxford-blue-3: hsl(228, 89%, 11%);
  --background: hsl(231, 74%, 9%);
  --bg-button: hsl(238, 50%, 25%);
  --bg-button-hover: hsl(238, 55%, 28%);
  --text-color: hsl(195, 33%, 86%);
  --link-color: hsl(201, 50%, 72%);
  --heading: hsl(200, 52%, 61%);
  --bg-trans: hsla(231, 74%, 9%, 0.575);
  --bg-box: hsl(225, 94%, 12%);
  --bg-card: hsl(247, 84%, 10%);
  --border: 1px solid hsl(228, 90%, 15%);

  --gradient-45: linear-gradient(
    90deg,
    hsl(248, 87%, 10%),
    hsl(225, 94%, 12%),
    hsl(228, 90%, 15%),
    hsl(232, 75%, 12%),
    hsl(248, 87%, 9%)
  );
  --gradient-90: linear-gradient(
    90deg,
    hsl(232, 75%, 12%),
    hsl(248, 87%, 9%),
    hsl(248, 87%, 9%),
    hsl(225, 94%, 12%),
    hsl(228, 90%, 15%)
  );
  --box-shadow: 0 4px 5px rgba(3, 21, 48, 0.719);
  --text-shadow: 1px 2px 2px rgba(1, 14, 22, 0.788);

  @media (max-width: 600px) {
    --bg-image: url(/assets/img/color4bg_dark-vert.png);
  }
  @media (min-width: 601px) {
    --bg-image: url(/assets/img/color4bg_dark-horiz-lg.png);
  }
}

/* STYLING */
body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0 auto;
  font-family: var(--ff-text), sans-serif;
  font-weight: 500;
  color: var(--text-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-family: var(--ff-cursive);
  font-size: clamp(2.175rem, 5vw + 2vh, 80px);
  font-size: clamp(3rem, 4vw - 1vh + 2rem, 6rem);
  font-weight: 700;
  color: var(--heading);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-family: var(--ff-cursive);
  font-size: clamp(22px, 4vw + 2vh + 4rem, 60px);
  font-size: clamp(2rem, 6vw - 0.5vh + 2rem, 6rem);
  font-weight: 600;
  color: var(--heading);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
h3 {
  font-family: var(--ff-accent);
  font-size: clamp(1.725rem, 1rem + 1vw + 1vh, 2.725rem);
  font-size: clamp(1.5rem, 5vw - 0.5vh + 1.5rem, 4rem);

  font-weight: 500;
  color: var(--heading);
}
h4 {
  font-family: var(--ff-accent);
  font-size: clamp(1.325rem, 1rem + 1vw + 0.5vh, 2.225rem);
  font-size: clamp(1.25rem, 1.5vw - 0.25vh + 1.25rem, 3rem);
  font-weight: 400;
}
h5 {
  font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
}
h6 {
  font-size: clamp(0.875rem, 1.5vw + 1rem, 2rem);
}
p {
  font-family: var(--ff-text);
  font-size: clamp(1.125rem, 2vw + 1vh, 1.625rem);
  font-weight: 400;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
a:not(button) {
  font-family: var(--ff-accent);
  font-size: clamp(1.125rem, 1rem + 0.5vw + 0.5vh, 1.625rem);
  font-weight: 400;
  color: var(--link-color);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  :hover {
    color: var(--accent);
  }
}
button {
  display: block;
  min-width: 200px;
  min-height: 40px;
  background-color: var(--bg-button);
  color: var(--text-color);
  padding: 0.4rem 1.2rem;
  margin: 0.4rem auto;
  font-family: var(--ff-accent);
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  line-height: 1.5;
  border: var(--border);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  a {
    font-family: var(--ff-accent);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 1px;
    text-rendering: geometricPrecision;
    text-decoration: none;
    text-decoration-line: none;
    :hover {
      color: var(--text-color);
      text-shadow: 2px 1px 0px rgba(255, 255, 255, 0.041);
    }
    :active {
      color: var(--text-color);
    }
  }
  &:hover {
    border-style: outset;
    box-shadow: none;
    background: var(--bg-button-hover);
    opacity: 0.7;
    transform: scale(1.01);
  }
  &:active {
    border-style: inset;
    transform: scale(0.98);
    background: var(--gradient-90);
  }
}
p.accent {
  font-family: var(--ff-accent);
  font-size: clamp(16px, 1rem + 0.5vw + 0.5vh, 24px);
  font-weight: 400;
  padding: 0.2rem;
  margin: 0 auto;
  text-align: center;
  color: var(--secondary);
}

#home {
  height: 100%;
  @media (max-width: 600px) {
    height: auto;
  }
  h1.headline {
    /*position: absolute;
    top: 0;
    left: 1rem;  
    z-index: 999;*/
    width: 100%;
    max-width: 100vw;
    padding: 1rem;
    margin: 0 auto;

    text-align: left;
    text-shadow: var(--text-shadow);
    background: transparent;
  }
  .intro {
    width: 90vw;
    padding: 1rem 2rem;
    margin: 0 auto;
    color: var(--text-color);
    text-align: center;
    @media (max-width: 600px) {
      width: 100%;
      padding: 0;
    }
    h3 {
      font-size: clamp(1.4rem, 1.5rem + 1vw - 0.5vh, 2.5rem);
    }
  }
  .scroll-btn {
    width: max-content;
    padding: 1rem;
    margin: 0 auto;
    a {
      color: var(--text-color);
    }
  }
  #compare {
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 20vh;
    #example {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      img {
        filter: contrast(1.2) saturate(1.1);
      }
    }
    @media (max-width: 600px) {
      margin-top: 2rem;
      margin: 0;
      padding-bottom: 0;
    }
  }
}

#hero {
  padding: 0.4rem;
  margin: 0 auto;
}
main {
  background-image: linear-gradient(
    bottom,
    rgba(216, 213, 16, 0.76),
    rgba(182, 75, 125, 0.87) 40%,
    rgb(153, 14, 130) 50%,
    rgb(122, 4, 133) 70%,
    rgb(100, 4, 124) 75%,
    rgb(60, 6, 92) 85%,
    rgb(42, 7, 87) 90%
  );
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  /*  position: relative; */
}

#services {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    width: 80vw;
    padding: 1rem;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .card {
      position: relative;
      width: 30%;
      height: 100%;
      padding: 1.4rem 1rem;
      /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%); */
      background: var(--bg-card);
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      backdrop-filter: blur(8.9px);
      -webkit-backdrop-filter: blur(8.9px);
      border: var(--border);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      @media (max-width: 600px) {
        width: 90%;
        margin: 1rem auto;
      }
      h4 {
        color: var(--heading);
        text-align: left;
      }
    }
  }
  .card img {
    height: 30%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    @media (max-width: 600px) {
      width: 70%;
      height: 25%;
      padding: 1rem;
    }
  }

  .card:hover {
    transform: rotate(-5deg) scale(1);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-box);
    border: var(--border);
  }

  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .card__content h4 {
    color: var(--heading);
    text-align: center;
  }

  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
  }

  .card__description_front {
    margin: 0;

    transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .card:hover .card__description_front {
    opacity: 0;
  }

  .card__description_back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 90%;
    margin: 10px 0 0;
    font-size: 14px;
    line-height: 1.4;
    ul {
      margin: 1rem auto;
      text-align: justify;
    }
    li {
      font-family: var(--ff-accent);
      font-size: 1.4rem;
      padding: 0.4rem 1.4rem;
      color: var(--text-color);
      text-align: center;
    }
  }

  .card:hover img {
    scale: 0;
    transform: rotate(-45deg);
  }
}

/* SKILLS */
#skills {
  h3 {
    color: var(--heading);
    text-align: center;
    padding: 1rem;
  }
  #skill-list {
    list-style: none;
    padding: 1rem;
    margin: 0 auto;
    @media (max-width: 600px) {
      padding: 0;
      margin: 0;
    }
  }

  li.skill-item {
    padding: 0.4rem 1rem;
    margin: 1rem auto;
    margin-left: 1rem;
    font-family: var(--ff-accent);
    text-align: center;
    vertical-align: middle;
    font-size: clamp(1.5rem, 1.5rem + 1vw - 0.5vh, 2.5rem);
    color: var(--text-color);
    overflow: hidden;
  }

  .skill-item i {
    padding: 1rem;
    margin: 0 1rem;
    margin-right: 1rem;
    @media (max-width: 600px) {
      padding: 0;
      margin: 0;
      margin-right: 1rem;
    }
  }

  .skill-item:nth-child(even) i {
    color: var(--sec);
  }
  .skill-item:nth-child(odd) i {
    color: var(--accent);
  }
  .skill-item:first-child i {
    color: var(--prim);
  }
  .skill-item:last-child i {
    color: var(--accenty);
  }
  .skill-item:nth-child(5n) i {
    color: var(--accenty);
  }
  .skill-item:nth-child(6n) i {
    color: var(--sec);
  }
  /*  
 


  .textBox {
    color: var(--text-color);
    font-family: var(--ff-accent);
  }
}

#project-cards {
  width: 70%;
  @media (max-width: 600px) {
    width: 100%;
    margin: 0 auto;
  }
  /* height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto; 
  @media (max-width: 783px) {
    width: 90%;
  }*/
  .project-card {
    display: flex;
    flex-direction: column;

    padding: 2rem 1rem;
    @media (max-width: 600px) {
      width: 90%;
      padding: 1rem;
      margin: 1rem auto;
    }
  }
  .project-card__button {
    width: 20%;
  }

  figure {
    width: 800px;
    height: 600px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px) saturate(171%);
    -webkit-backdrop-filter: blur(12px) saturate(171%);
    background-color: rgba(5, 17, 38, 0.61);
    border-radius: 12px;
    border: 1px outset rgba(255, 255, 255, 0.125);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    @media (max-width: 600px) {
      width: 100%;
      aspect-ratio: 4 / 3;
      height: auto;
    }
  }
  figure .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.05) 5%,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 999;
    transition: all 0.25s ease;
  }
  figure .banner i {
    color: var(--text-color-light);
    font-size: 2rem;
    padding: 0.2rem;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
    z-index: 999;
  }
  figure .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    padding: 0.4rem;
    z-index: 999;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.05) 5%,
      rgba(0, 0, 0, 0.226) 10%,
      rgba(0, 0, 0, 0.61) 100%
    );
    transition: all 0.25s ease;
    transform: scale(1);
  }
  figure .footer h2 {
    font-family: var(--ff-accent);
    font-weight: 400;
    color: var(--text-color-light);
    font-size: 1.6rem;
    padding: 0.2rem;
    margin-bottom: 0.4em;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
  }
  figure .footer h3 {
    font-family: var(--ff-accent);
    color: var(--text-color-light);
    font-size: 1.4rem;
    padding: 0.2rem;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
  }
  figure:hover .banner {
    top: -20%;
  }
  figure:hover .footer {
    bottom: -20%;
  }
  figure:hover {
    box-shadow: 0 14px 28px rgba(10, 1, 12, 0.336),
      0 10px 10px rgba(2, 1, 20, 0.801);
  }
  figure:hover .footer h2 {
    opacity: 0;
    transform: scale(0.7);
  }
  figure:hover .footer h3 {
    opacity: 0;
    transform: scale(0.7);
  }
  figure:hover .banner i {
    opacity: 0;
    transform: scale(0.7);
  }
  figure:hover img.project-img {
    transform: scale(1.25);
    filter: blur(2px);
    bottom: 34%;
  }
  figure:hover figcaption {
    bottom: 0;
    opacity: 1;
    height: 60%;
    background: rgba(1, 3, 43, 0.56);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.226);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(1, 3, 43, 0.01);
    @media (max-width: 600px) {
      height: 100%;
    }
  }

  figure img.project-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 0.25s;
  }
  figure figcaption {
    position: absolute;
    bottom: -40%;
    left: 0;
    opacity: 0;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 2, 27, 0.85);
    box-shadow: 0 0 20px rgba(24, 1, 24, 0.4);
    color: var(--text-color-light);
    line-height: 1;
    transition: 0.25s;
  }

  figure figcaption p {
    color: var(--text-color-light);
    font-size: 1rem;
    text-align: left;
    padding: 1rem;
    margin: 0 auto;
    line-height: 1.5;
  }
  figure figcaption button {
    @media (max-width: 600px) {
      width: 50%;
    }
  }
}
#contact {
  & form {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--ff-accent);
    @media (max-width: 783px) {
      width: 90%;
    }
    @media (max-width: 600px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    & input[type="text"],
    input[type="email"],
    input[type="textarea"],
    textarea {
      width: 75%;
      padding: 0.4rem;
      margin: 1rem 0;
      border: 2px solid var(--info);
      border-radius: 5px;
      font-family: var(--ff-text);
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--text-color-light);
      background-color: var(--background-dark);
      box-shadow: var(--box-shadow);

      &:is(:empty, :focus, :active) {
        border: 2px solid var(--info);
      }
      &:valid,
      &:user-valid {
        border: 2px solid var(--success);
      }

      &:is(:invalid, :user-invalid):not(:empty) {
        border: 2px solid var(--warning);
      }
      @media (max-width: 783px) {
        width: 90%;
      }
      @media (max-width: 600px) {
        width: 95%;
      }
    }

    & textarea {
      resize: none;
    }
    & button {
      font-family: var(--ff-accent);
      font-size: 1.6rem;
      font-weight: 500;
      text-rendering: geometricPrecision;
      text-shadow: 1px 0px 0px rgba(0, 1, 14, 0.479);
      background: var(--bg-button);
      color: var(--text-color);
      padding: 0.5em 1em;
      display: flex;
      align-items: center;
      border: var(--border);
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        background-image: var(--bg-button-hover);
      }
      & span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }
      & svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      &:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      &:active svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      &:active span {
        transform: translateX(5em);
      }
      &:active {
        transform: scale(0.95);
      }
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }

        to {
          transform: translateY(-0.1em);
        }
      }
    }
    & label {
      font-family: var(--ff-accent);
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--text-color);
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-dark);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(1, 3, 43, 0.01);
  color: var(--text-color-light);
  font-family: var(--ff-accent);
  font-size: 1.4rem;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 30vh;
  @media (max-width: 600px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  & img {
    width: 4rem;
    height: 4rem;
  }
  & h3 {
    color: var(--text-color-light);
    font-family: var(--ff-accent);
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem;
  }
  & p {
    font-family: var(--ff-accent);
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  & a {
    margin: 1rem 1.4rem;
    text-decoration: none;
    transition: all 3s ease-in-out;
    @media (max-width: 600px) {
      font-size: 1rem;
    }
    &:hover {
      color: #0f10109c;
    }
    &:first-of-type {
      color: var(--accent);
    }
    &:nth-of-type(2) {
      color: var(--prim);
    }
    &:nth-of-type(3) {
      color: var(--sec);
    }
    &:nth-of-type(4) {
      color: var(--accenty);
    }
  }
}
